<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-sm-12">
      <div class="box">   
        <div class="box-header">
          <div class="col-sm-2"></div>
          <h3 class="box-title col-sm-6">
            Cierres de Cajas
          </h3>            
          <%= link_to 'Nuevo Cierre',new_closing_cash_path, class: 'btn btn-primary'%>         
        </div> 
        
        <div class="box-body">
          <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6"></div>
            </div>
            
            <div class="row">
              <div class="col-sm-offset-1 col-sm-9">
                <table class="table table-bordered table-hover dataTable">
                  <thead>
                    <tr role="row">
                      <th>Fecha</th>
                      <th>Monto efectivo</th>
                      <th>Monto cheque</th> 
                      <th></th>  
                    </tr>
                  </thead>
                  <tbody>
                    <%= content_tag_for(:tr, @closing_cashes) do |closing_cash| %>
                    <td><%= closing_cash.fecha_cierre %></td>
                    <td><%= number_to_currency_py(closing_cash.monto_efectivo) %></td>
                    <td><%= number_to_currency_py(closing_cash.monto_cheque) %></td>
                    <td align="center">
                      <%= link_to closing_cash, class: 'btn btn-primary', title: 'Ver', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                        <span class= "glyphicon glyphicon-eye-open"></span>
                      <% end %>
                    </td>
                    <% end %>

                  </tbody>  
                </table>
              </div>  
            </div>
          </div>
        </div>
        
      </div>  
    </div>
  </div>


