<%= form_for(@service,data: {toggle: "validator"}, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @service.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@service.errors.count, "error") %> prohibited this employee from being saved:</h4>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  
  <!--<div class="alert alert-danger" role="alert" style="display: none;"></div>-->
   <div class="box-body">
    <div class="col-sm-6 form-group  has-feedback">
      <%= f.label :nombre, class: "col-sm-3 control-label" %>
       <div class="col-sm-9">
        <%= f.text_field :nombre, class: "form-control",:required => true %>
        <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>
    </div>
   <div class="col-sm-6 form-group   has-feedback">
    <%= f.label :descripcion, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_area :descripcion, class: "form-control",:required => true %>
        <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
      </div>
    </div>

     <div class="col-sm-6 form-group   has-feedback">
      <%= f.label :precio, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.number_field :precio, class: "form-control",:required => true %>
        <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
      <h2 align="center">Asignacion Cuenta</h2>
    <div class="col-sm-6 form-group   has-feedback">
      <%= f.label :cuenta_padre, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%@cuentas=AccountingAccount.where("grupo < ?", 10)%>
       <%= f.select :cuenta_padre ,@cuentas.all.collect { |p| [p.nombre, p.id ] },{include_blank: true},class: "form-control"%>              
       <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
     <tr> </tr> 
    </div>
    <div class="col-sm-2"><%= link_to new_accounting_account_path, class: 'btn btn-primary' do %>Agregar Padre<span class="glyphicon glyphicon-plus"></span>
    <% end %></div>
    </div>

     </div>
</div>
  <div class="box-footer">
      <div class="col-sm-offset-8 col-sm-10"> 
      <%= f.submit "Crear Cuenta", class: "btn btn-primary" %>
    </div>
    </div>
<% end %>


