<tr id="<%= service.id %>">
    <td><%= service.nombre %></td>
    <td><%= service.descripcion %></td>
    <td><%= service.precio %></td>
      <td align="center">
        <%= link_to '',service, remote: true, class: 'btn btn-primary glyphicon glyphicon-eye-open', title: 'Ver Servicio' %>
  
        <%= link_to'', edit_service_path(service), remote: true, class: 'btn btn-warning glyphicon glyphicon-pencil', title: 'Editar Servicio' %>
                    
        <%= link_to '',service, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-danger glyphicon glyphicon-trash', title: 'Eliminar Servicio' %>
       </td>
</tr>