<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @service.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @service.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @service.precio %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
