<div class="box">
	<div class="nav-tabs-custom"  >
		<div class="box-body">
			<div class="col-xs-4 col-md-4 col-sm-4">
				<h1 class="box-title titulo text_balance">HOTEL UNI</h1>
			</div>
			<div class="col-xs-8 col-md-8 col-sm-8">
				<form class="form-inline">
					<%=label_tag "Periodo: "%>
					<%= form_tag diary_book_diario_path ,remote: true, method: :post , id: "search_conta" do %>
					<%= text_field_tag :search_conta, params[:search_conta],class: "form-control"%>
					<%= button_tag(type: :submit, class: "btn btn-primary " ) do %>
					<i class="glyphicon glyphicon-search"></i>
					<% end %>
					<%end%>
				</form>
			</div>
		</div>
		<ul class="nav nav-tabs nav-justified ">
			<li class="active"><a href="#tab_3-2" data-toggle="tab" aria-expanded="true"><h4 class="text_balance">BALANCE DE COMPROBACION POR <b>SUMAS</b> </h4></a></li>
			<li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="false"><h4 class="text_balance">BALANCE DE COMPROBACION POR <b>SALDOS</b></h4></a></li>
		</ul>
		<%= render :partial=>'balan' %>
	</div>
</div>

         