<link rel="stylesheet" href="/assets/docsupport/style.css">
<link rel="stylesheet" href="/assets/docsupport/prism.css">


<div class="box">
<%cont2=0%>
<%mostrar=[]%>
<%ite=0%>
<%cant_a=0%>
<%cant_d=0%>
<%contador_selector=0%>
  <div class="box-header with-border">
      <h1 class="box-title titulo">Libro Mayor</h1>
  </div>
     <div class="box-body">
      <form class="form-inline">
        <div class="col-xs-6 col-md-6 col-sm-6"id="stock">

          <%= form_tag diary_book_diario_path ,remote: true, method: :post , id: "search_conta" do %>
            <%=label_tag "Periodo: "%>
            <%= text_field_tag :search_conta, params[:search_conta],class: "form-control"%>
            <%= button_tag(type: :submit, class: "btn btn-primary " ,id:"button1") do %>
              <i class="glyphicon glyphicon-search"></i>
              <% end %>
          <%end%>

          
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 seleccion">
          <%=label_tag "Cuenta:"%>   
          <select data-placeholder="Seleccione las cuentas..." class="chosen-select " multiple style="width:300px;">
            <!-- while para obtner todas los opcion del select dado las cuentas que se filtraron (array_filtrar)-->   
            <%while contador_selector<@array_filtrar.count do %>
              <!-- se optiene el objeto que satisfasga la condion where -->
              <%mostrar=AccountingAccount.where("id": @array_filtrar[contador_selector])%>
              <option value=""+<%=mostrar[0].nombre%>+""><%=mostrar[0].nombre%>.</option>
              <%contador_selector +=1%>
            <%end%>
          </select>
          <script>cuentas_cant(<%=contador_selector%>);</script>
        </div>
      </form>                            
    </div>
    <div class="row">
      <div class="box-body">
        <%mostrar=[]%>
        <%while cont2<@array_filtrar.count do %>
        <%ite=0%>
        <%cant_a=0%>
        <%cant_d=0%>
        <%mostrar=AccountingAccount.where("id": @array_filtrar[cont2])%>
        <div class="gall-box ocultable"id=<%=mostrar[0].nombre%>>
          <div class="col-xs-6 col-sm-4 ">
            <div class="thumbnail " style=" text-align: center;">                        
              <h4 class="box-title"><%=mostrar[0].nombre%></h4>
              <table class="table table-bordered  table-responsive  table-condensed" style="width: 290px;margin: 0 auto;">
                <thead>
                  <tr>
                    <th>N</th>
                    <th>Debe</th>
  	                <th>Haber</th>  
                  </tr>
                </thead>
                <tbody>
                  <% while ite<@algo.count %>
                  <%if @array_filtrar[cont2]==@algo[ite].accounting_account_id%>
                  <%if @algo[ite].tipo=="A"||@algo[ite].tipo=="a"%>
                  <tr>
                    <td><%=AccountingEntry.find(@algo[ite].accounting_entry_id).numero%></td>
                    <td><%=AccountingEntry.find(@algo[ite].accounting_entry_id).debe%></td>
                    <td></td>
                  </tr>
                  <%cant_a +=AccountingEntry.find(@algo[ite].accounting_entry_id).debe%>
                  <%else%>
                  <tr>
                    <td><%=AccountingEntry.find(@algo[ite].accounting_entry_id).numero%></td>
                    <td></td>
                    <td><%=AccountingEntry.find(@algo[ite].accounting_entry_id).haber%></td>
                  </tr>
                  <%cant_d += AccountingEntry.find(@algo[ite].accounting_entry_id).haber%>
                  <%end%>			                                    
                  <%end%>
                  <%if (@algo.count-1)==ite%>
                  <tr style="background: #286090">
                    <td colspan="2" scope="row"><%=cant_a%></td>
                    <td><%=cant_d%></td>
                  </tr>
                  <%if cant_a>cant_d%>
                  <tr style="background: #ABCBE8" >
                    <td colspan="2" scope="row"><%=cant_a-cant_d%></td>
                    <td></td>
                  </tr>
                  <%else%>
                  <tr style="background: #ABCBE8">
                    <td colspan="2" scope="row"></td>
                    <td><%=cant_d-cant_a%></td>
                  </tr>
                  <%end%>
                  <%end%>
                  <%ite +=1%>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <%cont2 +=1%>
        <%end%>
      <%if cont2==0%>
        <div class="box-header">
           <div class="callout callout-info">
            <h4>No se ha hecho aun un asiento con ese rango de fechas</h4>

          </div>
        </div>
        <%end%>

      </div>
    </div>
  </div> 
