<div class="box">
  <%#= link_to 'New Reservation request', new_reservation_request_path %>
  <div class="box-header with-border">
    <%#= link_to new_customer_path, class: 'btn btn-primary' do %>
      <!--span class="glyphicon glyphicon-plus"></span>
      New Customer
    <#% end %-->
    <h3><center>Pedidos de Reserva</center></h3> 
    <div> 
      <button type="button" class="btn btn-primary" id="showmenu">
          <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
    <br>
    <div class="menu well" style="display: none;">
      <div class="row">
        <%= form_for_filterrific @filterrific do |f| %>


            <div class="col-xs-3">
            <%= f.text_field(:sorted_by,class: 'filterrific-periodically-observed form-control',placeholder:"Buscar por nombre")%>
            </div>

            <div class="col-xs-3">
            <%= f.text_field(:sorted_by_apellido,class: 'filterrific-periodically-observed form-control',placeholder:"Buscar por apellido")%>
            </div>
             
           <%= render_filterrific_spinner %>
        <% end %>
      </div>
    </div>
   
  </div>
  <%= render(
  partial: 'reservation_requests/list',
  locals: { reservation_requests: @reservation_requests }
  ) %>
  
  <!--<div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
         <nav><%#= paginate @reservation_requests, :theme => 'twitter-bootstrap-3' %></nav>
    </ul>
    
  </div>-->
</div>
<script type="text/javascript">
  $(window).load(function() {
        $('#showmenu').click(function() {
                $('.menu').toggle("slide");
        });
    });
</script>
     