
<%#= link_to 'New Reservation request', new_reservation_request_path %>
<div class="page-header">
  <%#= link_to new_customer_path, class: 'btn btn-primary' do %>
    <!--span class="glyphicon glyphicon-plus"></span>
    New Customer
  <#% end %-->
  <h1>Pedidos de Reserva</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @reservation_requests) do |reservation_request| %>
          <td><%= reservation_request.nombre %></td>
          <td><%= reservation_request.apellido %></td>
          <td><%= reservation_request.email %></td>
          <td><%= link_to 'Confirmar', reservation_request,class: "btn btn-primary" %></td>
          <td><%= link_to 'Presupuestar', {:controller => "budgets", :action => "my_new", :id => reservation_request.id },class: "btn btn-primary" %></td>
          <td><%= link_to '', reservation_request ,class: "btn btn-primary glyphicon glyphicon-eye-open"%></td>
          <td><%= link_to '', edit_reservation_request_path(reservation_request) ,class: "btn btn-success glyphicon glyphicon-edit"%></td>
          <td><%= link_to '', reservation_request,class: "btn btn-danger glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
