<div class="box-body" id="table-venta">
  <!-- anterior_asiento tiene como funcion ir un siento atrasado para poder obtener todos los sientos que sean del mismo numero-->
    <% anterior_asiento=AccountingEntry.new %>
    <!--Suma total del debe de todos los asientos-->
    <%sum_debe=0%>
    <!--Suma total del haber de todos los asientos-->
    <%sum_haber=0%>
    <%factura_num=0%>
<!--if para comprpbar si el rango que se eligio esta vacio o no-->
<%if  @diary_books.count ==0 %>
    <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="callout callout-info callout-dismissible fade in" role="callout">
              <strong><i class="icon fa fa-info"></i></strong> No se han realizado aun asientos en ese periodo.
           
            </div> 
          </div>
      </div>


<%else%>

    <table class="table table-bordered  table-responsive ">
          <thead >
          <tr>
            <th>N</th>
            <th>Fecha</th>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Debe</th>
            <th>Haber</th>
          </tr>
        </thead>

        <tbody>
          <%= content_tag_for(:tr, @diary_books) do |a_x_e| %>
     
            <!-- comparo si el anterior es igual al asiento en esta iteracion-->
            <%if anterior_asiento.numero == AccountingEntry.find(a_x_e.accounting_entry_id).numero %>
              <!-- Si es de tipo deudor va a tener un estilo diferente -->
              <%if a_x_e.tipo=="D"||a_x_e.tipo=="d"%>
                <%= render "deudor",a_x_e: a_x_e ,anterior_asiento: anterior_asiento%>  
                <%sum_haber+=AccountingEntry.find(a_x_e.accounting_entry_id).haber%>
              <%end%>
                <!-- Si es de tipo acreedor va a tener un estilo diferente -->
              <%if a_x_e.tipo=="A"||a_x_e.tipo=="a"%>
                <%= render "acreedor",a_x_e: a_x_e,anterior_asiento: anterior_asiento%>   
                <%sum_debe+=AccountingEntry.find(a_x_e.accounting_entry_id).debe%>
              <% end %>  
                <%= render "factura",a_x_e: a_x_e ,anterior_asiento: anterior_asiento%>       

            <%else %>
              <!--Iniciando asiento con su respectivo formato -->
              <%anterior_asiento=AccountingEntry.find(a_x_e.accounting_entry_id)%>
               <%= render "inicioAsiento",a_x_e: a_x_e ,anterior_asiento: anterior_asiento%> 
             <!-- Si es de tipo acreedor va a tener un estilo diferente -->
              <%if a_x_e.tipo=="A"||a_x_e.tipo=="a"%>
                <%= render "acreedor",a_x_e: a_x_e, anterior_asiento: anterior_asiento%> 
                <%sum_debe+=AccountingEntry.find(a_x_e.accounting_entry_id).debe%>
              <% end %>

            <% end %>
              
               
          <% end %>
          <!--Muestro la suma final del debe y el haber en ese periodos-->
        <tr class="text-balance "style="background: #ABCBE8">
          <td></td><td></td><td></td><td></td>
          <td><strong><%=sum_debe%></strong></td>
          <td><strong><%=sum_haber%></strong></td>


        </tr>
      </tbody>
    </table>
    <%end%>
    </div>