<div class="box-body" id="table-venta">
  <!-- anterior_asiento tiene como funcion ir un siento atrasado para poder obtener todos los sientos que sean del mismo numero-->
    <% anterior_asiento=AccountingEntry.new %>
    <!--Suma total del debe de todos los asientos-->
    <%sum_debe=0%>
    <!--Suma total del haber de todos los asientos-->
    <%sum_haber=0%>
    <%factura_num=0%>
    <table class="table table-bordered  table-responsive ">
          <thead >
          <tr>
            <th>N</th>
            <th>Fecha</th>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Debe</th>
            <th>Haber</th>
          </tr>
        </thead>

        <tbody>
          <%= content_tag_for(:tr, @diary_books) do |a_x_e| %>
     
            <!-- comparo si el anterior es igual al asiento en esta iteracion-->
            <%if anterior_asiento.numero == AccountingEntry.find(a_x_e.accounting_entry_id).numero %>
              <!-- Si es de tipo deudor va a tener un estilo diferente -->
              <%if a_x_e.tipo=="D"||a_x_e.tipo=="d"%>
                <tr>
                  <td></td>
                  <td></td>
                  <td><%=AccountXPlan.find(AccountingAccount.find(a_x_e.accounting_account_id)).cuenta_superior%>.<%=AccountingAccount.find(a_x_e.accounting_account_id).grupo%></td>
                  <td class="haber-ctrol">a <%=AccountingAccount.find(a_x_e.accounting_account_id).nombre%></td>
                  <td></td>
                  <td><%=AccountingEntry.find(a_x_e.accounting_entry_id).haber%></td>
                  <%sum_haber+=AccountingEntry.find(a_x_e.accounting_entry_id).haber%>
                </tr>
              <%end%>
                <!-- Si es de tipo acreedor va a tener un estilo diferente -->
              <%if a_x_e.tipo=="A"||a_x_e.tipo=="a"%>
                <tr>
                  <td></td>
                  <td></td>
                  <td><%=AccountXPlan.find(AccountingAccount.find(a_x_e.accounting_account_id)).cuenta_superior%>.<%=AccountingAccount.find(a_x_e.accounting_account_id).grupo%></td>
                  <td><%=AccountingAccount.find(a_x_e.accounting_account_id).nombre%></td>
                  <td><%=AccountingEntry.find(a_x_e.accounting_entry_id).debe%></td>
                  <%sum_debe+=AccountingEntry.find(a_x_e.accounting_entry_id).debe%>
                  <td></td>
                </tr>
              <% end %>  
              <!--Tiene como fin cerrar el asiento-->
              <!-- Si el que sigue de este asiento es nil significa que el objeto en esta iteracion es el ultimo o si el numero  de asiento de la siguiente iteracion es distinto al de estaa iteracion significa que es el ultimo  con el mismo numero de asiento-->
              <%if(AccountingEntry.where("id > ?",a_x_e .accounting_entry_id).first.nil?) ? nil :
                anterior_asiento.numero != AccountingEntry.where("id > ?",a_x_e .accounting_entry_id).first.numero%>
                <%cont=0%>
                <!-- Obtengo todas las facturas que esten relacionadas al asiento-->
                <%numeroFac=AccountingEntry.find_by_sql("SELECT invoices.id, invoices.numero ,accounting_entries.numero AS num_asiento FROM accounting_entries ,cash_movements,detail_of_cash_movements ,invoices WHERE cash_movements.accounting_entry_id=accounting_entries.id AND  detail_of_cash_movements.cash_movement_id=cash_movements.id AND detail_of_cash_movements.invoice_id=invoices.id")%>

                <%numeroFac.each do |n_f|%>
                <!-- Recorro todos los resultados para comparar si el numero de asiento en esta posicion es igual a algun elemento que este en numeroFac-->
                  <%if n_f.num_asiento == AccountingEntry.find(a_x_e.accounting_entry_id).numero%> 
                    <tr>      
                      <% Invoice.all.each do |invoice| %>
                        <!--Recorro todas las facturas exitentes para comparar si algun elemento de numeroFac son iguales-->
                        <%if invoice.id==numeroFac[cont].id%>
                        <!--Si son iguales muestro la factura correspondiente a este asiento-->
                          <td colspan="6" scope="row">Segun factura nº=
                            <%= link_to numeroFac[cont].numero ,invoice  , remote: true, 'data-toggle' => 'tooltip', 'data-placement' => 'rigth'%>
                          </td>
                        <%end%>
                      <%end%>    
                    </tr>
                  <%end%>
                <%cont+=1%>  
              <%end%>
            <%end%>

               

            <%else %>
              <!--Iniciando asiento con su respectivo formato -->
              <tr>
              <%anterior_asiento=AccountingEntry.find(a_x_e.accounting_entry_id)%>
              <td><%=AccountingEntry.find(a_x_e.accounting_entry_id).numero%></td>
              <td><%=AccountingEntry.find(a_x_e.accounting_entry_id).fecha%></td>
              <td></td>
              <td><%=a_x_e.observacion%></td>
              <td ></td>
              <td ></td>
              </tr>
             <!-- Si es de tipo acreedor va a tener un estilo diferente -->
              <%if a_x_e.tipo=="A"||a_x_e.tipo=="a"%>
                <tr>
                  <td></td>
                  <td></td>
                  <td><%=AccountXPlan.find(AccountingAccount.find(a_x_e.accounting_account_id)).cuenta_superior%>.<%=AccountingAccount.find(a_x_e.accounting_account_id).grupo%></td>
                  <td><%=AccountingAccount.find(a_x_e.accounting_account_id).nombre%></td>
                  <td><%=AccountingEntry.find(a_x_e.accounting_entry_id).debe%></td>
                  <%sum_debe+=AccountingEntry.find(a_x_e.accounting_entry_id).debe%>
                  <td></td>
                </tr>

              <% end %>

            <% end %>
              
               
          <% end %>
        <tr class="text-balance "style="background: #ABCBE8">
          <td></td><td></td><td></td><td></td>
          <td><%=sum_debe%></td>
          <td><%=sum_haber%></td>

        </tr>
      </tbody>
    </table>
    </div>