<div style="background-color: white; border: 113px" >
  <% anterior=AccountingEntry.new %>
  <div class="page-header">
    <h1 class="titulo">Libro Diario</h2>
    <h4>Periodo: <input class="input-mini"id="fecha"name="datefilter" type="text"style="width: 17%" >
      <%=link_to "filtrar",diary_book_diario_path, remote: true, class: "btn btn-primary", :id=>"b1" %>
    </h4>
    <h4>Denominacion o razon social: Hotel Uni</h4>
    <div id="respuesta"></div>
  </div>




  
     <table class="table table-bordered table-color table-condensed  table-responsive table-sombra" style="width: 690px;margin: 0 auto">
      <thead >
        <tr>
          <th>N</th>
          <th>Fecha</th>
          <th>Codigo</th>
          <th>Descripcion</th>
          <th>Debe</th>
          <th>Haber</th>
        </tr>
      </thead>

      <tbody>

        <%= content_tag_for(:tr, @diary_books) do |a_x_e| %>
        
          <%if anterior.numero == AccountingEntry.find(a_x_e.accounting_entry_id).numero %>
            <%if a_x_e.tipo=="D"||a_x_e.tipo=="d"%>
              <tr>
              <td></td>
              <td></td>
              <td><%=AccountingAccount.find(a_x_e.accounting_account_id).grupo%></td>
              <td class="haber-ctrol">a <%=AccountingAccount.find(a_x_e.accounting_account_id).nombre%></td>
              <td></td>
              <td><%=AccountingEntry.find(a_x_e.accounting_entry_id).haber%></td>
              </tr>
              <tr>
                <td colspan="6" scope="row">Segun factura nยบ=</td>
              </tr>
            <%end%>
            

          <%else %>
            <tr>
            <%anterior=AccountingEntry.find(a_x_e.accounting_entry_id)%>
            <td><%=AccountingEntry.find(a_x_e.accounting_entry_id).numero%></td>
            <td><%=AccountingEntry.find(a_x_e.accounting_entry_id).fecha%></td>
            <td></td>
            <td></td>
            <td ></td>
            <td ></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><%=a_x_e.observacion%></td>
              <td></td>
              <td></td>

            </tr>
            <%if a_x_e.tipo=="A"||a_x_e.tipo=="a"%>
              <tr>
                <td></td>
                <td></td>
                <td><%=AccountingAccount.find(a_x_e.accounting_account_id).grupo%></td>
                <td><%=AccountingAccount.find(a_x_e.accounting_account_id).nombre%></td>
                <td><%=AccountingEntry.find(a_x_e.accounting_entry_id).debe%></td>
                <td></td>
              </tr>

            <% end %>
          <% end %>
          <% end %>
    </tbody>
  </table>
  


</div >
        