
<div >
  <div>
    <h1>Libro Diario</h1>
  <h4>Periodo: <input class="input-mini"id="fecha"name="datefilter" type="text"style="width: 17%"></h4>
  <script>
  $("#fecha").change(function() { 
    console.log("Aprete el boton apply");
  } );
  </script>

  <h4>Denominacion o razon social:    "Hotel Uni"</h4>
</div>

<div class="table-sombra table-responsive">
  <table class="table table-striped table-bordered table-hover table-color ">
    <thead>
      <tr>
        <th>Asiento</th>
        <th>Fecha</th>
        <th>Codigo</th>
        <th>Cuenta</th>
        <th>Debe</th>
        <th>Haber</th>


      </tr>
    </thead>

    <tbody class="centrar">
      <%= content_tag_for(:tr, @diary_books) do |a_x_e| %>

        <td><%=AccountingEntry.find(a_x_e.accounting_entry_id).numero%></td>
        <td><%=AccountingEntry.find(a_x_e.accounting_entry_id).fecha%></td>
        <td><%=AccountingAccount.find(a_x_e.accounting_account_id).grupo%></td>
        <td><%=AccountingAccount.find(a_x_e.accounting_account_id).nombre%></td>
        <td class="debe-ctrol"><%=AccountingEntry.find(a_x_e.accounting_entry_id).debe%></td>
        <td class="haber-ctrol"><%=AccountingEntry.find(a_x_e.accounting_entry_id).haber%></td>

       <% end %>
    </tbody>
  </table>
  
</div>

</div >
