<div class="box box-primary">
  <div class="box-header with-border">
    <center><h3 class="box-title">Auditoria</h3></center>
    <button type="button" class="btn btn-primary" id="showmenu">
          <span class="glyphicon glyphicon-search"></span>
      </button>
    <div class="menu well" style="display: none;">

    <div class="row">
      <%= form_for_filterrific @filterrific do |f| %>

          <div class="col-xs-3">
          <%= f.select(:sorted_by_tabla,
          @filterrific.select_options[:sorted_by_tabla],
          { include_blank: 'Todas las tablas' },{ :class => 'form-control' })%>
          </div>

          <div class="col-xs-3">
          <%= f.select(:sorted_by_usuario,
          @filterrific.select_options[:sorted_by_usuario],
          { include_blank: 'Default' },{ :class => 'form-control' })%>
          </div>

          <div class="col-xs-3">
          <%= f.text_field(:created_at_lt, class: 'r_datepicker_complaint  form-control',placeholder:"Desde")%>
          </div>

          <div class="col-xs-3">
          <%= f.text_field(:created_at_lta, class: 'r_datepicker_complaint_lt  form-control',placeholder:"Hasta")%>
          </div>
           
         <%= render_filterrific_spinner %>
      <% end %>
      </div>
    </div>  
  </div>

  <%= render(
  partial: 'audit/list',
  locals: { audited_tables: @audited_tables }
  ) %>
  

</div>

<script type="text/javascript">
  $(document).ready(function() {
        $('#showmenu').click(function() {
                $('.menu').toggle("slide");
        });
    });
</script>