<%= nested_form_for(@cash_movement, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @cash_movement.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@cash_movement.errors.count, "error") %> prohibited this cash_movement from being saved:</h4>

      <ul>
      <% @cash_movement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
<div class="col-sm-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <div class="col-sm-2"></div>
          <h3 class="box-title col-sm-6">
            <%= title %>
          </h3>           
        </div>
        
        <form role='form-horizontal'>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
             <% id = "#"+"#{f.object_name}[client_id]".gsub(/(\])?\[/, "_").chop %>
              <%= f.label 'Apertura' %><br>
              <%= f.text_field :opening_cash_id, class: "form-control",placeholder:"ID Apertura", :required => true %>
              <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>

            <div class="col-md-3">
              <%= f.label 'Cliente' %><br>
              <%= f.autocomplete_field :client, autocomplete_client_cedula_clients_path,:update_elements => {:id => id}, class:"form-control", placeholder: "Ingrese numero de cedula"  %>
              <%= f.hidden_field  :client_id%>
            </div> 
            <div class="col-md-3">
              <%= f.label 'Tipo de movimiento' %><br>
              <%= f.select :type_of_cash_movement_id ,TypeOfCashMovement.all.collect { |t| [t.descripcion, t.id ] },{include_blank: false},class: "form-control",:required => true %>
              <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>                
            </div>   
          </div>

          <br></br>
<div class="row">
<div class="col-sm-10">
      <div class="col-sm-2"></div>
      <table class="table well col-sm-offset-1">
          <thead class="thead-inverse">
            <tr>
              <th>Factura Numero</th>
              <th>Subtotal</th>
              <th>Valor</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody class="contenedor">
        
              <%= f.fields_for :detail_of_cash_movements  ,:wrapper => false do |li| %>
              <tr id="fields">

                  <th scope="row"><%= li.number_field :invoices ,:class => "form-control"%></th>
                  <!--td><%#= li.select :service_id, Service.all.collect { |p| [ p.nombre , p.id ] }, {include_blank: true}, {:id => "service_select" }%></td-->   
                  <th><%= li.number_field :sub_monto, :class => "form-control"%></td>
                  <th><%= li.select :payment_type_id, PaymentType.all.collect{|p| [p.descripcion, p.id]},{include_blank: false}  ,:class => "select"%></td>
                  
                  <th class="cheque" id="cheque-<%= li.index%>" style="display: none">
                      <%= li.text_field :payment_type_id, :class => "form-control" ,placeholder: "Banco"%>
                      <%= li.text_field :payment_type_id, :class => "form-control" ,placeholder: "Titular"%>
                    
                      <%= li.text_field :payment_type_id, :class => "form-control datepicker" ,placeholder: "Fecha Disponibilidad"%> 
                  
                  </th>
                  <td><%= li.link_to_remove "", :class => "btn btn-danger glyphicon glyphicon-trash " %></td>              
                  
              </tr>

              <%end%>
              <tr>
                <td><%= f.link_to_add "", :detail_of_cash_movements , :class => "btn btn-primary glyphicon glyphicon-plus"%></td>
              </tr>

          </tbody>
        </table>

</div>
</div>  
<div class="row">
<div class="col-sm-10">
    <div class="form-group">
      <div class="col-md-offset-7 col-md-4">
               <%= f.label :Total %><br>
               <%= f.text_field :monto_total, class: "form-control ",  :readonly => true,placeholder: "" %>
          </div>    
    </div>
  
</div>
             
        </div>
        </form>
        <div class="box-footer">
          <div class="col-sm-offset-8 col-sm-10">
            <%= f.submit "Aceptar", class: "btn btn-primary " %>
          </div>
        </div>
      </div>
      </div>  
</div>

                
</div>

  <% end %>
