<tr id="<%= cash_movement.id %>">
    <td><%= cash_movement.opening_cash_fecha_apertura %></td>
    <td><%= cash_movement.type_of_cash_movement_descripcion %></td>
    <td><%= cash_movement.client.name %></td>
    <td><%= cash_movement.monto_total %></td>
    <td><div class="row">
            <div class="col-sm-3">
                <%= link_to cash_movement, class: 'btn btn-primary', title: 'Ver', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "glyphicon glyphicon-eye-open"></span>
                    <% end %>    
            </div>
            <div class="col-sm-3">
                <%= link_to edit_cash_movement_path(cash_movement), class: 'btn btn-warning', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "glyphicon glyphicon-pencil"></span>
                    <% end %>    
            </div>
            <div class="col-sm-3">
                <%= link_to cash_movement, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-danger', title: 'Eliminar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                        <span class= "glyphicon glyphicon-trash"></span>
                    <% end %>                    
    
            </div>
            
        </div>    </td>
</tr>