<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-sm-12">
      <div class="box">   
        <div class="box-header">
          <div class="col-sm-2"></div>
          <h3 class="box-title col-sm-6">
            Movimientos de Caja
          </h3>                     
        </div> 
        
        <div class="box-body">
          <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6"></div>
            </div>
            
            <div class="row">
              <div class="col-sm-offset-1 col-sm-9">
                <table class="table table-bordered table-hover dataTable">
                  <thead>
                    <tr role="row">
                      <th>Fecha</th>
                      <th>Tipo de Movimiento</th>
                      <th>Cliente</th>
                      <th>Monto Total</th> 
                      <th></th>  
                    </tr>
                  </thead>
                  <tbody>
                    <%= content_tag_for(:tr, @cash_movements) do |cash_movement| %>
                    <td><%= cash_movement.opening_cash.fecha_apertura %></td>
                    <td><%= cash_movement.type_of_cash_movement_descripcion %></td>
                    <td><%= cash_movement.client.name %></td>
                    <td><%= number_to_currency_py(cash_movement.monto_total) %></td>
                    <td align="center">
            <%= link_to cash_movement,remote: true, class: 'btn btn-primary', title: 'Ver', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "glyphicon glyphicon-eye-open"></span>
                    <% end %>
                </td>
                    <% end %>

                  </tbody>  
                </table>
              </div>  
            </div>
          </div>
        </div>
        <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
         <nav><%= paginate @cash_movements, :theme => 'twitter-bootstrap-3' %></nav>
    </ul>
    
  </div>
      </div>  
    </div>
    
  </div>
