<div class="page-header">
  <%= link_to cash_movements_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <%= link_to edit_cash_movement_path(@cash_movement), class: 'btn btn-warning' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
</div>

<dl class="dl-horizontal">
  <dt>ID Apertura:</dt>
  <dd><%= @cash_movement.opening_cash_id %></dd>
  <dt>Cliente:</dt>
  <dd><%= @cash_movement.client.name %></dd>
  <dt>Monto total:</dt>
  <dd><%= @cash_movement.monto_total %></dd>
</dl>
