<!-- Modal -->
<div class="modal fade" id="show-modal">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          
      </div>
      
      <div class="modal-body">          
      <h4 class="modal-title" align="center">Datos del Plan</h4>
          <table class="table table-bordered  table-responsive ">
                  <thead>
                    <tr role="row">
                      <th class="col-sm-2">Descripcion</th>
                      <th class="col-sm-2">Estado</th>
                      <th class="col-sm-2">Version</th>
                    </tr>
                  </thead>
                  <tbody>
                  <div>
                    <td><%= @account_plan.descripcion %></td>
                    <td><%= @account_plan.estado %></td>
                    <td><%= @account_plan.version %></td>
                   </div>
                  </tbody> 
                </table>
        <h4 class="modal-title" align="center">Ejercicio</h4>
        <table class="table table-bordered  table-responsive ">
                  <thead>
                    <tr role="row">
                      <th class="col-sm-2">Año</th>
                      <th class="col-sm-2">Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                  <div>
                    <% @accounting_years.each do |algo|%>
                    <td><%= algo.anho %></td>
                    <td><%= algo.estado %></td>
                    <%end%>
                   </div>
                  </tbody> 
                </table>  

      <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Aceptar</button>
      </div>

    </div>      
  </div>
</div>