<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <%= form_for @account_plan, remote: true do |f| %>        
        <div class="modal-body">

          <div class="form-group">

            <div class="row">

              <div class="col-md-6">   
                  <%= f.text_field :descripcion, class: "form-control input-lg", placeholder: "Descripcion" ,:required => true %>             
                  <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  <div class="help-block with-errors"></div> 
                  <%= f.text_field :estado, class: "form-control input-lg", placeholder: "Estado" ,:required => true %>             
                  <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  <div class="help-block with-errors"></div>  
                  <%= f.number_field :version, class: "form-control input-lg", placeholder: "Version" ,:required => true %>             
                  <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  <div class="help-block with-errors"></div>  
                
              </div>

            </div>  
          </div>
            
        </div><!-- /.modal-body -->

        <div class="modal-footer">
          <%= f.submit 'Aceptar', class: "btn btn-primary btn-lg" %>
        </div>
        
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->