<tr id="<%= accounting_year.id %>">
    <td><%= accounting_year.anho %></td>
    <td><%= accounting_year.estado %></td>
    <td>
        <div class="row">
            <div class="col-xs-2">
                <%= link_to accounting_year, remote: true, class: 'btn btn-primary', title: 'Ver', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "glyphicon glyphicon-eye-open"></span>
                    <% end %>    
            </div>
            <div class="col-xs-2">
                <%= link_to edit_account_year_path(accounting_year), remote: true, class: 'btn btn-warning', title: 'Editar Plan', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "glyphicon glyphicon-pencil"></span>
                    <% end %>    
            </div>
            <div class="col-xs-2">
                <%= link_to accounting_year, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-danger', title: 'Eliminar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                        <span class= "glyphicon glyphicon-trash"></span>
                    <% end %>                    
    
            </div>
        </div>
    </td>
</tr>