<tr id="<%= accounting_year.id %>">
    <td><%= accounting_year.anho %></td>
    <td><%= accounting_year.estado %></td>
    <td align="center">

                <%= link_to '',accounting_year, remote: true, class: 'btn btn-primary glyphicon glyphicon-eye-open', title: 'Ver' %>

            
                <%= link_to '', edit_account_year_path(accounting_year), remote: true, class: 'btn btn-warning glyphicon glyphicon-pencil', title: 'Editar Plan'%>
                 
     
                <%= link_to '',accounting_year, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-danger glyphicon glyphicon-trash', title: 'Eliminar'%>
                   
    

    </td>
</tr>

