<tr id="<%= account_plan.id %>">
    <td><%= account_plan.descripcion %></td>
    <td><%= account_plan.estado %></td>
    <td><%= account_plan.version %></td>
    <td align="center">
        
             <%= link_to '',account_plan, class: 'btn btn-primary glyphicon glyphicon-eye-open',remote: true,  title: 'Ver' %>

             <%= link_to '',edit_account_plan_path(account_plan), class: 'btn btn-warning glyphicon glyphicon-pencil', title: 'Editar Plan' %>

             <%= link_to '',account_plan,  class: 'btn btn-danger glyphicon glyphicon-trash',method: :delete, data: { confirm: 'Esta seguro?' }, title: 'Eliminar' %>
    </td>   
</tr>