
  
<%= form_for(@employee,data: {toggle: "validator"}, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @employee.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h4>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  
  <!--<div class="alert alert-danger" role="alert" style="display: none;"></div>-->
   <div class="box-body">
    <div class="col-sm-6 form-group  has-feedback">
      <%= f.label :nombres, class: "col-sm-3 control-label" %>
       <div class="col-sm-9">
        <%= f.text_field :nombre, class: "form-control",minlength: 3,maxlength:"20" ,:required => true,placeholder:"Juan Mario" %>
        <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors">*requerido</div>
        </div>
    </div>
    <div class="col-sm-6  form-group  has-feedback">
      <%= f.label :apellidos,class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.text_field :apellido, class: "form-control" ,minlength: 3,maxlength:"20",:required => true,placeholder:"Escurra Liseras" %>
        <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors">*requerido</div>
      </div>
    </div>

     <div class="col-sm-6 form-group   has-feedback">
      <%= f.label :edad, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.number_field :edad, class: "form-control",min: 18,max: 70 ,:required => true %>
        <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors">*requerido</div>
      </div>
    </div>

     <div class="col-sm-6 form-group   has-feedback">
      <%= f.label :cedula, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.number_field :cedula, class: "form-control",min: 100000, max: 100000000,:required => true  %>
        <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors">*requerido</div>
      </div>
    </div>      

    <div class="col-sm-6 form-group has-feedback">
      <%= f.label :telefono, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.number_field :telefono, class: "form-control",min: 1000000,max: 1000000000 ,:required => true%>
        <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors">*requerido</div>
      </div>
    </div>
  <div class="col-sm-6 form-group has-feedback">
    <%= f.label :cantidad_de_hijos, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.number_field :hijo, class: "form-control",min: 0,max: 17 ,:required => true %>
       <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors">*requerido</div>
    </div>
  </div>




    <div class="col-sm-6 form-group has-feedback">
      <%= f.label :Cargo, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.select :types_of_employee_id ,TypesOfEmployee.all.collect { |p| [p.tipo, p.id ] },{include_blank: false},class: "form-control",:required => true %>
         <!--  <%= f.text_field :types_of_employee, class: "form-control" ,:required => true %>-->
        <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors">*requerido</div>
      </div>
    </div>
 
 


  
    <div class="col-sm-6 form-group has-feedback">
      <%= f.label :correo, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.email_field :correo, class: "form-control" ,type:"email",:required => true%>
        <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors">*requerido</div>
      </div>
    </div>
 

    <div class="col-sm-6 form-group has-feedback">
    <%= f.label :direccion, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :direccion,minlength: 3, class: "form-control" ,:required => true%>
       <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors">*requerido</div>
    </div>
  </div>
  </div>
  
    <div class ="box-body"> 
      <%= f.submit "Crear Empleado", class: "btn btn-primary" %>
    </div>
</div>
<% end %>
