<tr  class="ind" id="<%= employee.id %>">
            <td><%= employee.types_of_employee_tipo %></td>
            <td><%= employee.nombre %></td>
            <td><%= employee.apellido %></td>
            <td><%= employee.edad %></td>
            <td><%= employee.cedula %></td>
            <td><%= employee.telefono %></td>
            <td><%= employee.correo %></td>
            <td><%= employee.direccion %></td>
            <td><%= employee.hijo %></td>
            <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>