<div class="box box-primary">
 <div class="box-header with-border">

  <h3 class="box-title">
    <i class="fa fa-globe"></i>#Hotel-UNI  Listado de Empleados
            
  </h3>
</div>
  <div class="box-body"> 
        <div class="col-xs-3">
                 <%= link_to new_employee_path, class: 'btn btn-primary' do %>
                  <span class="glyphicon glyphicon-plus"></span>
                  Nuevo Empleado
                 <% end %> 
               
        </div>

       <button type="button" class="btn btn-primary" id="showmenu">
          <span class="glyphicon glyphicon-search"></span>
      </button> 
  </div>
      <div class="box-body">
          <div class="menu well" style="display: none;">
              <div class="row">    
               
                    <%= form_for_filterrific @filterrific do |f| %>

                       
                        <div class="col-xs-3">
                       <%= f.select(:sorted_by_types_of_employee,
                          @filterrific.select_options[:sorted_by_types_of_employee],
                          { include_blank: 'Todas los tipos' },{ :class => 'form-control' })%>
                        </div>

                        
                       <%= render_filterrific_spinner %>
                    <% end %>
            </div>
        </div>
  </div>
<script type="text/javascript">
   $(window).load(function() {
        $('#showmenu').click(function() {
                $('.menu').toggle("slide");
        }); 
    });
   </script>

<%= render(
  partial: 'employees/list_index',
  locals: { employees: @employees }
) %>


</div>