<div class="box">
  <div class="box-header with-border">

  <h3><center>Empleado/a <%= @employee.nombre %> <%= @employee.apellido %></center></h3>
  
  <%= link_to employees_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
  Volver
  <% end %>
  <%= link_to edit_employee_path(@employee), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
  Editar
  <% end %>
</div>
    <div  class="box-body">



              <div class="form-group col-sm-3">
                <div class="col-sm-4">
                 <dt>Cargo:</dt>
              </div>
                <div class="col-sm-6">
                 <%= @employee.types_of_employee_tipo %>
                </div>
              </div>

              <div class="form-group col-sm-3">
                <div class="col-sm-4">
                <dt>Nombre:</dt>
                 </div>
                <div class="col-sm-8">
                 <%= @employee.nombre %>
                </div>
              </div>

              <div class="form-group col-sm-3">
                <div class="col-sm-4">
                <dt>Apellido:</dt>
                 </div>
                <div class="col-sm-8">
                 <%= @employee.apellido %>
                </div>
              </div>
                <div class="form-group col-sm-3">
                <div class="col-sm-4">
                <dt>Edad:</dt>
                 </div>
                <div class="col-sm-8">
                 <%= @employee.edad %>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <div class="col-sm-4">
                <dt>Cedula:</dt>
                 </div>
                <div class="col-sm-8">
                 <%= @employee.cedula %>
                </div>
              </div>
                <div class="form-group col-sm-3">
                <div class="col-sm-4">
                <dt>Correo:</dt>
                 </div>
                <div class="col-sm-8">
                 <%= @employee.correo %>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <div class="col-sm-4">
                <dt>Telefono:</dt>
                 </div>
                <div class="col-sm-8">
                 <%= @employee.telefono %>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <div class="col-sm-4">
                <dt>Direccion:</dt>
                 </div>
                <div class="col-sm-8">
                 <%= @employee.direccion %>
                </div>
              </div>
               <div class="form-group col-sm-3">
                <div class="col-sm-4">
                <dt>hijos:</dt>
                 </div>
                <div class="col-sm-8">
                 <%= @employee.hijo%>
                </div>
              </div>




 
   
  </div>
</div>