<div class="page-header">
  <%= link_to new_entry_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Entry
  <% end %>
  <h1>Listing entries</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Numero</th>
    
        <th>Fecha</th>
    
        <th>Debe</th>
    
        <th>Haber</th>
    
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @entries) do |entry| %>
    
        <td><%= entry.numero %></td>
    
        <td><%= entry.fecha %></td>
    
        <td><%= entry.debe %></td>
    
        <td><%= entry.haber %></td>
    
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
