<div class="page-header">
  <%= link_to entries_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_entry_path(@entry), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show entry</h1>
</div>

<dl class="dl-horizontal">

  <dt>Numero:</dt>
  <dd><%= @entry.numero %></dd>


  <dt>Fecha:</dt>
  <dd><%= @entry.fecha %></dd>


  <dt>Debe:</dt>
  <dd><%= @entry.debe %></dd>


  <dt>Haber:</dt>
  <dd><%= @entry.haber %></dd>


</dl>
