<%= form_for(@invoice) do |f| %>
<section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-sm-12 page-header">                    
            <h2>
              <i class="fa fa-list-alt"></i> Facturacion Manual              
            </h2>                                 
        <!-- /.col -->
        </div>
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">         
          <address>
            <h4><strong>Hotel UNI.</strong><br><br>
            Abog. Lorenzo Zacarias, Km 2<br>
            Encarnacion, Paraguay<br>
            Telefono: (071) 207-620<br>
            Email: info@hoteluni.com
          </address></h4>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <div class="row">
            <div class="col-sm-12">
              <%= f.label 'Cliente:', class: "col-sm-3 control-label" %>              
              <%= f.autocomplete_field :client, autocomplete_client_cedula_clients_path, class:"col-sm-7", placeholder: "Ingrese numero de cedula", :multiple => false, :update_elements => {:ruc => '#ruc', :direccion => '#direccion', :telefono => '#telefono', :email => '#correo'}  %>

              <%= link_to new_client_path, remote: true, class: 'col-sm-2', title: 'Registrar Cliente', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "glyphicon glyphicon glyphicon-plus"></span>
                    <% end %> 

            </div>
            <div class="col-sm-12">
              <%= f.label 'RUC:', class: "col-sm-3 control-label" %>
              <%= f.text_field :fecha, id: 'ruc', class:"col-sm-8", placeholder: "RUC"%>                            
                 

            </div>
            <div class="col-sm-12">
              <%= f.label 'Barrio:', class: "col-sm-3 control-label" %>        
              <%= f.text_field :fecha, id: 'direccion', class:"col-sm-6", placeholder: "Barrio" %>
            </div>
             <div class="col-sm-12">
              <%= f.label 'Ciudad:', class: "col-sm-3 control-label" %>                   
              <%= f.text_field :fecha, id: 'ciudad', class:"col-sm-5", placeholder: "Ciudad" %>
            </div>
            <div class="col-sm-12">
              <%= f.label 'Celular:', class: "col-sm-3 control-label" %>        
              <%= f.text_field :fecha, id: 'telefono', class:"col-sm-5",placeholder: "Celular" %>
            </div>  
            <div class="col-sm-12">
              <%= f.label 'Correo:', class: "col-sm-3 control-label" %>        
              <%= f.text_field :fecha, id: 'correo', class:"col-sm-8",  placeholder: "Email" %>
            </div>                                            
          </div>                              
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <div class="row">
            <%= f.label 'Fecha:', class: "col-sm-4 control-label" %>            
            <%= f.text_field :fecha, id: 'date',  class: "datepicker"%>                         
            <label id="bt1" class="btn btn-default" role="button" title="Hoy"><span class= "fa fa-calendar-check-o"></span></label>
          </div>
          <br> 
          <div class="row">
              <%= f.label 'Factura #:', class: "col-sm-4 control-label" %>
              <%= f.text_field :fecha, class:"col-sm-7", placeholder: "Numero de Factura" %>                      
          </div>         
          <br>
          <div class="row">
              <%= f.label 'Descuento:', class: "col-sm-4 control-label" %>
              <%= f.text_field :fecha, class:"col-sm-2", placeholder: "%" %>                                          
          </div>              
        </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Qty</th>
              <th>Product</th>
              <th>Serial #</th>
              <th>Descripcion</th>
              <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>Call of Duty</td>
              <td>455-981-221</td>
              <td>El snort testosterone trophy driving gloves handsome</td>
              <td>$64.50</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Need for Speed IV</td>
              <td>247-925-726</td>
              <td>Wes Anderson umami biodiesel</td>
              <td>$50.00</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Monsters DVD</td>
              <td>735-845-642</td>
              <td>Terry Richardson helvetica tousled street art master</td>
              <td>$10.70</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Grown Ups Blue Ray</td>
              <td>422-568-642</td>
              <td>Tousled lomo letterpress</td>
              <td>$25.99</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
          
        </div>
        <!-- /.col -->
        <div class="col-xs-6">

          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <th style="width:50%">Subtotal:</th>
                  <td>$250.30</td>
                </tr>
                <tr>
                  <th>Descuento: </th>
                  <td>$10.34</td>
                </tr>            
                <tr>
                  <th>Total:</th>
                  <td>$265.24</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-xs-12">
          <a href="" target="_blank" class="btn btn-default"><i class="fa fa-file-pdf-o"></i> Imprimir</a>
          <button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Facturar
          </button>
          <a href="<%=invoices_path%>" class="btn btn-danger" role="button">Cancelar</a>        
        </div>
      </div>      
    </section>
<% end %>    

<script type="text/javascript">
  $('#bt1').click(function() {
    $('#date').val('<%= Time.now.strftime("%d-%m-%Y") %>');      
  }); 
</script>