<%= nested_form_for(@invoice, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <div class="box box-primary">   
    <div class="box-header">
      <!-- title row -->
      <div class="row">
        <div class="col-sm-12 page-header">                    
            <h2>
              <i class="fa fa-list-alt"></i> Facturacion Manual              
            </h2>                                 
        <!-- /.col -->
        </div>
      </div>
    </div>
    <div class="box-body">
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-3 invoice-col">         
          <address>
            <h4><strong>Hotel UNI.</strong><br><br>
            Abog. Lorenzo Zacarias, Km 2<br>
            Encarnacion, Paraguay<br>
            Telefono: (071) 207-620<br>
            Email: info@hoteluni.com
          </address></h4>
        </div>
        <!-- /.col -->
        <div class="col-sm-5 invoice-col">
          <div class="row">
            <div class="col-sm-12">
              <%= f.label 'Cliente:', class: "col-sm-3 control-label" %>              
              <%= f.autocomplete_field :client, autocomplete_client_cedula_clients_path, class:"col-sm-6", placeholder: "Ingrese numero de cedula", :multiple => false, :update_elements => {:ruc => '#ruc', :direccion => '#direccion', :telefono => '#telefono', :email => '#correo'}  %>

              <%= link_to new_client_path, remote: true, class: 'col-sm-2', title: 'Registrar Nuevo Cliente', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "glyphicon glyphicon glyphicon-plus"></span><span class= "glyphicon glyphicon glyphicon-user"></span>
                    <% end %> 

            </div>
            <div class="col-sm-12">
              <%= f.label 'RUC:', class: "col-sm-3 control-label" %>
              <%= f.text_field :fecha, id: 'ruc', class:"col-sm-5", placeholder: "RUC", readonly: true%>                            
                 

            </div>
            <div class="col-sm-12">
              <%= f.label 'Direccion:', class: "col-sm-3 control-label" %>        
              <%= f.text_field :fecha, id: 'direccion', class:"col-sm-6", placeholder: "Barrio", readonly: true %>
            </div>
            <div class="col-sm-12">
              <%= f.label 'Celular:', class: "col-sm-3 control-label" %>        
              <%= f.text_field :fecha, id: 'telefono', class:"col-sm-5",placeholder: "Celular", readonly: true %>
            </div>  
            <div class="col-sm-12">
              <%= f.label 'Correo:', class: "col-sm-3 control-label" %>        
              <%= f.text_field :fecha, id: 'correo', class:"col-sm-6",  placeholder: "Email", readonly: true %>
            </div>                                            
          </div>                              
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <div class="row">
            <%= f.label 'Fecha:', class: "col-sm-4 control-label" %>            
            <%= f.text_field :fecha, id: 'date',  class: "datepicker"%>                         
            <label id="bt1" class="btn btn-default" role="button" title="Hoy"><span class= "fa fa-calendar-check-o"> Hoy</span></label>
          </div>
          <br> 
          <div class="row">
              <%= f.label 'Factura #:', class: "col-sm-4 control-label" %>
              <%= f.text_field :fecha, class:"col-sm-6", placeholder: "Numero de Factura" %>                      
          </div>         
          <br>
          <div class="row">
              <%= f.label 'Descuento:', class: "col-sm-4 control-label" %>
              <%= f.text_field :fecha, class:"col-sm-2", placeholder: "%" %>                                          
          </div>              
        </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Cantidad</th>
              <th>Servicio</th>
              <th>Precio</th>
              <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
        
              <%= f.fields_for :invoice_details  ,:wrapper => false do |li| %>
              <tr class="fields">

                  <% cantidad = "#"+"#{li.object_name}[cantidad]".gsub(/(\])?\[/, "_").chop %>
                  <% ayudante = "#"+"#{li.object_name}[ayudante]".gsub(/(\])?\[/, "_").chop %>
                  <% id = "#"+"#{li.object_name}[service_id]".gsub(/(\])?\[/, "_").chop %>

                  <th scope="row"><%= li.number_field :cantidad ,min: 1 ,:class => "escuchable",value: 1%></th>          

                  <td><%= li.autocomplete_field :service, autocomplete_service_nombre_services_path, :placeholder => "Seleccione un servicio", 
                  :multiple => true, :update_elements => {:id => id,:precio => ayudante },class: "ui-autocomplete-input"%>
                  <%= li.hidden_field  :service_id%></td>
                  <td><%= li.number_field  :ayudante,class: "escuchable",readonly: true%></td>
                  <td><%= li.number_field :subtotal,:class => "subtotal",readonly: true%></td>
                  <td><%= li.link_to_remove "",id: "borrar", :class => "btn glyphicon glyphicon-trash ", title: 'Eliminar detalle', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' %></td>
              </tr>
              <%end%>
              <tr>
                <td><%= f.link_to_add "", :invoice_details , :class => "btn glyphicon glyphicon-plus", title: 'Agregar detalle', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth'%></td>
              </tr>

          </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row" align="right">
        <!-- /.col -->
        <div class="col-md-6 col-md-offset-6">

          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <th>Subtotal:</th>
                  <td>Gs. 0</td>
                </tr>
                <tr>
                  <th>Descuento: </th>
                  <td>Gs. 0</td>
                </tr>            
                <tr>
                  <th>Total:</th>
                  <td>Gs. 0</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <!-- /.row -->

      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-xs-12">
          <a href="" target="_blank" class="btn btn-default"><i class="fa fa-file-pdf-o"></i> Imprimir</a>
          <button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Facturar
          </button>
          <a href="<%=invoices_path%>" class="btn btn-danger" role="button">Cancelar</a>        
        </div>
      </div>
    </div>
  </div>      
<% end %>    

<script type="text/javascript">
  $('#bt1').click(function() {
    $('#date').val('<%= Time.now.strftime("%d-%m-%Y") %>');      
  }); 
</script>