<div id="invoice-modal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Factura n°: <%= @invoice.numero %></h4>
      </div>
      <%#= form_for @invoice, remote: true do |f| %>        
        <div class="modal-body">
          <div class="alert alert-danger" role="alert" style="display: none;"></div>
          <div class="form-group"> 

          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Nombre: </label>
                <%= @invoice.nombre %>            
              </div> 
              <div class="form-group">
                <label>RUC: </label>
                <%= @invoice.ruc %>            
              </div> 
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Telefono: </label>
                <%= @invoice.celular %>            
              </div> 
              <div class="form-group">
                <label>Correo: </label>
                <%= @invoice.correo %>            
              </div> 
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Direccion: </label>
                <%= @invoice.direccion %>            
              </div> 
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><center><strong>Detalles</strong></center></h3>
                </div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-condensed">
                      <thead>
                        <tr>
                          <td><strong>Cantidad</strong></td>
                          <td style="margin-left: 20px;" class="text-center"><strong>Servicio</strong></td>
                          <td class="text-center"><strong>Precio</strong></td>
                          <td class="text-right"><strong>Subtotal</strong></td>
                        </tr>
                      </thead>
                      <tbody>                           
                        <% @invoice.invoice_details.each do |details| %>                 
                          <tr>
                            <td><%= details.cantidad %></td>                          
                            <td style="margin-left: 80px;" class="text-center"><%= Service.find(details.service_id).nombre %></td> 
                            <td class="text-center"><%= number_to_currency_py(details.precio) %></td> 
                            <td class="text-right"><%= number_to_currency_py(details.subtotal) %></td> 
                          </tr>
                        <%end%>  
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
              <div class="form-group text-right">
                <strong>Subtotal: </strong>           
              </div> 
              <div class="form-group text-right">
                <strong>Descuento: </strong>           
              </div> 
              <div class="form-group text-right">
                <strong>Total: </strong>           
              </div> 
          </div>
          <div class="col-md-4">        
            <p><%= number_to_currency_py(@invoice.subtotal) %></p>
          </div>
          <div style="margin-top: 5px;" class="col-md-4">        
            <p><%= @invoice.descuento %> %</p>
          </div>
           <div style="margin-top: 5px;" class="col-md-4">        
            <p><%= number_to_currency_py(@invoice.total) %></p>
          </div>
        </div><!-- /.tabla-content -->
      </div>
      <div class="modal-footer">
        <%#= f.submit 'Facturar', class: "btn btn-primary btn-lg" %>
      </div>
    <%# end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->