

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"><center>Facturas</center></h3>
    <a href="<%=new_invoice_path%>" class="btn btn-primary pull-right no-print" role="button">Nueva Factura</a> 
    <br>
    <br>
    <div>
      <div class="menu well" style="display: none;">
        <%= form_for_filterrific @filterrific do |f| %>

            <div class="col-xs-4">
                <%= f.label "Cliente" %>
                <%= f.text_field(:sorted_by,
                              class: 'filterrific-periodically-observed form-control',
                              placeholder:"Nombre y Apellido")%>
            </div>

            <div class="col-xs-4">
                <%= f.label "Estado" %>
                <%= f.select(:sorted_by_state, ['pendiente','cancelado','pagado'],
                      { include_blank: 'Todos los Estados' },
                      { :class => 'form-control' })%>
            </div>
             
           <%= render_filterrific_spinner %>
        <% end %>
      </div>
      <button type="button" class="btn btn-primary pull-right" id="showmenu">
          <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
  </div>

    
    

  <%= render 'list', invoices: @invoices %>




</div>


<script type="text/javascript">
   $(window).load(function() {
        $('#showmenu').click(function() {
                $('.menu').toggle("slide");
        });
    });

</script>