<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @invoice.numero %>
</p>

<p>
  <strong>Client:</strong>
  <%= @invoice.nombre %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @invoice.fecha %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @invoice.descuento %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
