<%= form_for(@opening_cash, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @opening_cash.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@opening_cash.errors.count, "error") %> prohibited this opening_cash from being saved:</h4>

      <ul>
      <% @opening_cash.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="box box-primary">   
        <div class="box-header with-border">
          <div class="col-xs-2"></div>
          <h3 class="box-title col-xs-6">
            <%= title %>
          </h3>           
        </div> 
        <form role="form-horizontal">
          <div class="box-body">
            <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <%= f.label :caja, class: "col-sm-5 control-label" %>
                    <div class="col-sm-7">
                      <%= f.select :cash_id ,Cash.all.collect { |c| [c.descripcion, c.id ] },{include_blank: false},class: "form-control",:required => true %>
                      <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>  
                </div>
                
                <div class="col-sm-5">
                  <div class="form-group">
                    <%= f.label :cajero, class: "col-sm-2 control-label"%>
                    <div class="col-sm-7">
                      <%= f.select :employee_id ,Employee.all.collect { |e| [e.full_name, e.id ] },{include_blank: false},class: "form-control",:required => true %>
                      <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>  
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <%= f.label :fecha, class: "col-sm-5 control-label" %>
                    <div class="col-sm-5">
                      <%= f.text_field :fecha_apertura,id: "date", class: "form-control datepicker",:required => true %>
                      <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <label id="bt1" class="btn btn-default col-sm-1" role="button" title="Hoy"><span class= "fa fa-calendar-check-o"></span></label>
                  </div>  
                </div>
                
                <div class="col-sm-5">
                  <div class="form-group">
                    <%= f.label :monto_efectivo, class: "col-sm-2 control-label"%>
                    <div class="col-sm-7">
                      <%= f.text_field :monto_efectivo, class: "form-control",:required => true %>
                      <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>  
                </div>
            </div> 
          </div>
          <div class="row"></div> 
        </form>
        <div class="box-footer">
          <div class="col-sm-offset-8 col-sm-10">
            <%= f.submit "Aceptar", class: "btn btn-primary " %>
          </div>
        </div>
      </div>  
<% end %>

<script type="text/javascript">
  $('#bt1').click(function() {
    $('#date').val('<%= Time.now.strftime("%d-%m-%Y") %>');      
  }); 
</script>