<%= form_for(@opening_cash, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @opening_cash.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@opening_cash.errors.count, "error") %> prohibited this opening_cash from being saved:</h4>

      <ul>
      <% @opening_cash.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

            <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <%= f.label :caja, class: "col-sm-5 control-label" %>
                    <div class="col-sm-7">
                      <%= f.select :cash_id ,Cash.where(estado: "Cerrada").all.collect { |c| [c.descripcion, c.id ] },{:selected =>@my_cashes.id}, {class: "form-control"} %>

                      <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>  
                </div>
                
                <div class="col-sm-5">
                  <div class="form-group">
                    <%= f.label :cajero, class: "col-sm-2 control-label"%>
                    <div class="col-sm-7">
                      <%= f.select :employee_id ,Employee.joins(:types_of_employee).where(types_of_employees: {tipo: 'cajero'}).all.collect { |e| [e.full_name, e.id ] },{include_blank: false},class: "form-control",:required => true %>
                      <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>  
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <%= f.label :fecha, class: "col-sm-5 control-label" %>
                    <div class="col-sm-7">
                      <%= f.text_field :fecha_apertura,value: Time.now.strftime("%d-%m-%Y"), class: "form-control", :readonly => true%>
                    </div>
                  </div>  
                </div>
                
                <div class="col-sm-5">
                  <div class="form-group">
                    <%= f.label :monto_efectivo, class: "col-sm-2 control-label"%>
                    <div class="col-sm-7">
                      <%= f.text_field :monto_efectivo,data: {autonumeric: {aSign: 'Gs ',mDec: 0}}, class: "form-control",:required => true %>
                      <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>  
                </div>
            </div> 
            <div class="row"></div> 

        <div class="box-footer">
          <div class="col-sm-offset-8 col-sm-10">
            <%= f.submit "Aceptar", class: "btn btn-primary " %>
          </div>
        </div> 
<% end %>

