<div class="box">
  <div class="box-body">
    <div class="row">
          <%= form_for_filterrific @filterrific do |f| %>
          <div class="col-xs-3">
          <%= f.text_field(:sorted_by_employee,class: 'filterrific-periodically-observed form-control',placeholder:"Buscar por empleado")%>
          </div>
          <div class="col-xs-3">
          <%= f.text_field(:sorted_by_cash,class: 'filterrific-periodically-observed form-control',placeholder:"Buscar por caja")%>
          </div>
          <div class="col-xs-3">
          <%= f.text_field(:created_at_gte,class: 'filterrific-periodically-observed form-control datepicker',placeholder:"Desde")%>
          </div>

          <div class="col-xs-3">
          <%= f.text_field(:created_at_lt,class: 'filterrific-periodically-observed form-control datepicker',placeholder:"Hasta")%>
          </div>
           
         <%= render_filterrific_spinner %>
      <% end %>
      </div>
  </div>
</div>

<div class="box">
  <div class="box-header with-border">
    <div class="col-sm-4"></div>
          <h3 class="box-title col-sm-4">
            Aperturas de Cajas
          </h3>
          <%= link_to 'Nueva Apertura', new_opening_cash_path, class: "btn btn-primary" %>
  <%= render(
  partial: 'opening_cashes/list',
  locals: { opening_cashes: @opening_cashes }
) %>    
  </div>
  
</div>
<script type="text/javascript">
  $(".datepicker").datepicker({
                format: 'dd-mm-yyyy',
                language: 'es',
              });
</script>        

