<div class="page-header">
  <%= link_to new_opening_cash_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Opening cash
  <% end %>
  <h1>Listing opening_cashes</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Fecha apertura</th>
    
        <th>Monto efectivo</th>
    
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @opening_cashes) do |opening_cash| %>
    
        <td><%= opening_cash.fecha_apertura %></td>
    
        <td><%= opening_cash.monto_efectivo %></td>
    
        <td><%= link_to 'Show', opening_cash %></td>
        <td><%= link_to 'Edit', edit_opening_cash_path(opening_cash) %></td>
        <td><%= link_to 'Destroy', opening_cash, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
