<%= form_for(@cleaning_room, html: { class: "form-horizontal", role: "form" ,data: {toggle:"validator"}}) do |f| %>
  <% if @cleaning_room.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@cleaning_room.errors.count, "error") %> prohibited this cleaning_room from being saved:</h4>

      <ul>
      <% @cleaning_room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group has-feedback col-sm-6">
    <%= f.label "Habitacion", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :room_id ,Room.all.collect { |p| [p.identificador, p.id ] },{include_blank: false},class: "form-control",:required=>true %>
      <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors">*requerido</div>
    </div>
  </div>
 <!-- <div class="form-group">
    <%= f.label :room, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :room, class: "form-control" %>
    </div>
  </div>-->
    <div class="form-group has-feedback col-sm-6">
    <%= f.label "Empleado", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :employee_id ,Employee.all.collect { |p| [p.nombre, p.id ] },{include_blank: false},class: "form-control",:required=>true %>
      <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors">*requerido</div>
    </div>
  </div>
 <!-- <div class="form-group">
    <%= f.label :employee, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :employee, class: "form-control" %>
    </div>
  </div>-->
  <div class="form-group">
    <%= f.label :start, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :start, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :end, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :end, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :recordatorio, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
