<%= nested_form_for(@cleaning_room, html: { class: "form-horizontal", role: "form" ,data: {toggle:"validator"}}) do |f| %>
  <% if @cleaning_room.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@cleaning_room.errors.count, "error") %> prohibited this cleaning_room from being saved:</h4>

      <ul>
      <% @cleaning_room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box-body">
  <div class="form-group has-feedback col-sm-4">
    <%= f.label "Encargado", class: "control-label" %>
   
      <%= f.select :employee_id ,Employee.all.collect { |p| [p.nombre, p.id ] },{include_blank: false},class: "form-control",:required=>true %>
      <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors">*requerido</div>
  </div>
<div id="cp2" class="col-sm-1 input-group colorpicker-component">
    
    <span  class="input-group-addon"><i></i></span>
</div>
<script>
    $(function() {
        $('#cp2').colorpicker();
    });
</script>
  
  <div>
        <table id="mytabla" class="table">
          <thead class="thead-inverse">
            <tr>
              <th>Habitacion</th>
              <th>Desde</th>
              <th>Hasta</th>
              <th>Etiqueta</th>
            </tr>
          </thead>
          <tbody>
        
              <%= f.fields_for :cleanings ,:wrapper => false do |li| %>
              <tr class="fields">
                    <td class="form-group has-feedback">
                      <%= li.select :room_id ,Room.all.collect { |p| [p.identificador, p.id ] },{include_blank: false},class: "form-control",:required=>true %>  
                      <div class="help-block with-errors">*requerido</div>    
                    </td>  
                    <td class="form-group has-feedback">
                      <%= li.text_field :start, class: "datepicker form-control",:required=>true%>
                     <div class="help-block with-errors">*requerido</div>
                    </td>                
                    <script type="text/javascript">console.log()</script>
                    <td class="form-group has-feedback">
                      <%= li.text_field :end,class: "datepicker form-control",
placeholder:"Fin"%>
                     <div class="help-block with-errors">*requerido</div>
                    </td>
                      <td class="form-group has-feedback">
                      <%= li.text_field :title, class: "form-control", placeholder:"Fin",:required=>true%>
                     <div class="help-block with-errors">*requerido</div>
                    </td>
                  <td><%= li.link_to_remove "", :class => "btn btn-danger glyphicon glyphicon-trash " %></td>
              </tr>
              <%end%>
              <tr>
                <td><%= f.link_to_add "", :cleanings, :class => "btn btn-primary glyphicon glyphicon-plus"%></td>
              </tr>
              <tr>
              <td> <%= f.submit "Crear Limpieza ",class: "btn btn-primary" %></td>
              </tr>
          </tbody>
        </table>
    </div>  
   </div>
  <div class="box-body">
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
     
    </div>
  </div>
</div>
<% end %>

