<div class="box" id="tipos">

<div id="first-slider">
    <div id="carousel-example-generic" class="carousel slide carousel-fade">
        <!-- Indicators --> 
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
      
        <div class="carousel-inner" role="listbox">
            <!-- Item 1 -->
            <div class="item active slide1">
                <div class="row"><div class="container">
                    <div class="col-md-4 text-right">
                      <!--  <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/pfmmo6qj1/window_domain.png">-->
                        <h1 data-animation="animated bounceInDown">#HOTEL UNI</h3>
                    </div>
                    <div class="col-md-8 text-left">
                        <h3 data-animation="animated bounceInDown">Las mejores habitaciones</h3>
                        <h4 data-animation="animated bounceInUp">El mejor personal</h4>             
                     </div>
                </div></div>
             </div> 
            <!-- Item 2 -->
            <div class="item slide2">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-left">
                        <h3 data-animation="animated bounceInDown"> 120 Habitaciones</h3>
                        <h4 data-animation="animated bounceInUp">Diferentes Ambientes </h4>
                     </div>
                    <div class="col-md-5 text-right">
                     <!--   <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/sp11uneml/rack_server_unlock.png">-->
                    </div>
                </div></div>
            </div>
            <!-- Item 3 -->
            <div class="item slide3">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-left">
                        <h3 data-animation="animated bounceInDown">Comodidad</h3>
                        <h4 data-animation="animated bounceInUp">Elegancia</h4>
                     </div>
                    <div class="col-md-5 text-right">
                       <!-- <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/eq8xvxeq5/globe_network.png">
                    </div>  -->   
                </div></div>
            </div>
            <!-- Item 4 -->
            <div class="item slide4">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-left">
                        <h3 data-animation="animated bounceInDown">100% Paraguayo</h3>
                        <h4 data-animation="animated bounceInUp">Tu hotel</h4>
                     </div>
                    <div class="col-md-5 text-right">
                        <!--<img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/9vf8xngel/internet_speed.png">-->
                    </div>  
                </div></div>
            </div>
            <!-- End Item 4 -->
    
        </div>
        <!-- End Wrapper for slides-->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
        </a>
    </div>
</div>

  
  <div class="box-body">
     <h1 align="center">NUESTRAS HABITACIONES</h1>
     <h3 align="center" class="tipos-h3">Tenemos lo mejor en habitaciones para todos los gustos solo diganos que busca en una y trataremos de hacer lo mejor para satisfacerlo.</h3>
  </div>


<div class="accordian">
    <ul>
    <li>
      <div class="image_title">
        <a href="#">Simples UNI</a>
      </div>
      <a id="single_1" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1479021461/xaz22gfenemaghukfgsf.jpg" title="Morning on Camaret (Tony N.)">
        <img src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1479021461/xaz22gfenemaghukfgsf.jpg"/>
      </a>
    </li>
    <li>
      <div class="image_title">
        <a href="#">Simples</a>
      </div>
      <a id="single_1" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1477163313/yoe9i7lbnkunsatypeoj.jpg" title="Morning on Camaret (Tony N.)">
        <img src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1477163313/yoe9i7lbnkunsatypeoj.jpg"/>
      </a>
    </li>
    <li>
      <div class="image_title">
        <a href="#">Dobles</a>
      </div>
     <a id="single_1" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1479021443/zzhotxr3qiv2z38fz8jr.jpg" title="Morning on Camaret (Tony N.)">
        <img src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1479021443/zzhotxr3qiv2z38fz8jr.jpg"/>
      </a>
    </li>
    <li>
      <div class="image_title">
        <a href="#">Matrimoniales</a>
      </div>
      <a id="single_1" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1477406526/bzdeaqwolt80bd4346an.jpg" title="Morning on Camaret (Tony N.)">
        <img src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1477406526/bzdeaqwolt80bd4346an.jpg"/>
      </a>
    </li>
    <li>
      <div class="image_title">
        <a href="#">Suites UNI</a>
      </div>
      <a id="single_1" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1479021436/vasv1tqsyzn3ws3oxlqx.jpg" title="Morning on Camaret (Tony N.)">
        <img src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1479021436/vasv1tqsyzn3ws3oxlqx.jpg"/>
      </a>
    </li>
  </ul>
</div>



 <div class="box-body">
 <%= link_to new_cleaning_room_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nueva Limpieza
  <% end %>
 </div>
  

<!--   <div class="container">
    <div id="main_area">
       
        <div class="row">
            <div class="col-sm-6" id="slider-thumbs">
              
                <ul class="hide-bullets">
      
                    <% Photo.all.each do |p| %>
                     <li class="col-sm-3">                
                       <a class="thumbnail" id="carousel-selector-0">
                        <%=image_tag p.my_file_url.to_s%>
                       
                        </a>
                    </li>
                   
                    <%end%>
                   
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="col-xs-12" id="slider">
                 
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                              
                                <div class="carousel-inner">

                                  <% Photo.all.each do |p| %>
                                   <div class="item">
                                   <%=image_tag p.my_file_url.to_s%>

                                   </div>


                      
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                                  <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>

    </div>
</div>
</div>-->




 <!--<div class="page-header">
    <h4>Limpieza de Habitaciones</h4>
 </div>-->
<!--
<div class="box">
            <div class="box-header ">
              <h3 class="box-title">Lista</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
      
            <div class="box-body">
              <table class="table table-striped table-bordered table-hover">
             
                  <thead>
                    <tr>
                      <th>Habitacion</th>
                      <th>Empleado</th>
                      <th>Dia</th>
                      <th></th>
                      <th></th>
                      <th></th>
                  </tr>
                </thead>

                <tbody>
                   <%= content_tag_for(:tr, @cleaning_rooms) do |cleaning_room| %>
                    <td><%= cleaning_room.room_identificador %></td>
                    <td><%= cleaning_room.employee_nombre %></td>
                    <td><%= cleaning_room.start %></td>
                    <td><%= link_to 'Show', cleaning_room ,class: "btn btn-primary glyphicon glyphicon-eye-open"%></td>
                    <td><%= link_to 'Edit', edit_cleaning_room_path(cleaning_room),class: "btn btn-success glyphicon glyphicon-edit" %></td>
                    <td><%= link_to 'Destroy', cleaning_room,class: "btn btn-danger glyphicon glyphicon-trash",method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end %>
                </tbody>
            </table>
        </div>
       
    </div>
 
      <div class="box ">
            <div class="box-header">
              <h4 class="box-title">Calendario</h4>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
         
            <div class="box-body">
       <div id='calendar'></div>
           
          </div>
        </div>
    


     </div>

-->
