<div class="box">
<div class="box-body">

  <h3 class="box-title">Informacion de Limpieza</h3>
  

  <dt>Encargado:</dt>
  <dd><%= @cleaning_room.employee_nombre %></dd>
    <dt>Dias encargados:</dt>

               <%Cleaning.all.where("#{:cleaning_room_id} = ?",@cleaning_room.id).each do |f|%>

                <dt><%= f.room_identificador%></dt>
                <dt><%= f.start %></dt>
                <dt><%= f.end %></dt>
                <%end%>


  

   

  <%= link_to cleaning_rooms_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_cleaning_room_path(@cleaning_room), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
</div>
</div>