<%= nested_form_for(@complaint, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @complaint.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert" id="my_type">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@complaint.errors.count, "error") %> Check the erros:</h4>
      <ul>
      <% @complaint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group"> 
    <%= f.label :"Numero de Habitacion",class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.select :room_id,Room.all.collect { |s| [ s.identificador , s.id ] }, {:style => "width: 100%"},include_blank: true,  class: "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :"Servicio relacionado", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :complaint_service_id,ComplaintService.all.collect { |s| [ s.description , s.id ] },{:style => "width:100%"}, id: "complaint_selector",class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group hide_complaint_selector">
    <%= f.label :"Describa el servicio", class: "col-sm-2 control-label" %>
    <div class="col-sm-10 hide_complaint_selector">
      <%= f.text_field :service_description,class: "form-control"%>
    </div>  
  </div>

   <div class="form-group">
    <%= f.label :"Escriba su queja aqui", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description,class: "form-control", style: "height:200px"%>
    </div>  
  </div>

  <div class="form-group">
    <div class="col-sm-12 control-label">
      <%= f.submit  "Enviar Queja",class: "btn btn-default" %>
    </div>
  </div>
  
     
<% end %>