
<div class="box">
 <div class="box-header with-border">
  <h1 class="box-title">Quejas</h1>

  </div>

<div class="box-body">
<div class="table-responsive ">
  
  <table class="table table-striped table-bordered table-hover">
  <colgroup>
    <col style="width:15%">
    <col style="width:20%">
    <col style="width:50%">
    <col style="width:10%">
    <col style="width:5%">
  </colgroup>
    <thead>
      <tr>
        <th>N° de Habitacion</th>
        <th>Servicio Relacionado</th>
        <th>Queja</th>
        <th>Fecha</th>
        <th></th>
        <th>Vistos/Pendientes</th>
      </tr>
    </thead>

    <tbody>
    
    <div class="row">
      <div class="col-lg-4" >
      <div class="input-group">
     </div>
      </div>
      <div class="col-lg-5" >
      <div class="input-group">
     </div>
      </div>

      <div class="col-lg-3 off-set 3" >
      <div class="input-group">
      <span class="input-group-btn">
       <%= form_tag complaints_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], data: { autocomplete:autocomplete_complaint_service_description_complaints_path},type: "text",placeholder: "Buscar por Servicio",class:"form-control"%>
      
      <span class="input-group-btn">
      <%= submit_tag "Buscar",class:"btn btn-default"%>
      </span>
       <% end %>
      </div>
      </div>
      </div><!-- /.row -->
      <p></p>
      <%= content_tag_for(:tr, @complaints.order(id: :desc)) do |complaint| %>
      <td><%= complaint.room.identificador %></td>
      <td><%= complaint.complaint_service.description + " - " + complaint.service_description.to_s%></td>
      <td><%= complaint.description %></td>
      <td><%= complaint.created_at %></td>
      <td><%= link_to '', complaint,class: "btn btn-danger glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% if complaint.state == false%>
       <td><%= link_to '',complaint_path(complaint, :state => true), method: :put,class: "btn btn-success glyphicon glyphicon-eye-open"%></td>
      <% else %>
      <td><span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span></td>
      <% end %>
    <% end %>
    </tbody>
  </table>
   </div>
   <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails, :container => false %>
 </ul>
 </div> 
    </div>
  
</div>