<%= nested_form_for(@budget, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @budget.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h4>

      <ul>
      <% @budget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

            <div class="row">
              <div class="col-md-4">
                  <%= f.label :reservation_request_id %><br>
                  <%= f.text_field :reservation_request_id,value: @my_reservation_requests.id, class: "form-control", placeholder: "reservation_request_id", :readonly => true %> 
              </div>

              <div class="col-md-4">
                  <%= f.label :email %><br>
                  <%= f.text_field  :email,value: @my_reservation_requests.email, class: "form-control", placeholder: "" ,:readonly => true%>                                            
              </div>  

              <div class="col-md-4">
                  <%= f.label :type_of_room_id %><br>
                  <%= f.text_field :type_of_room_id,value: @my_reservation_requests.type_of_room_id, class: "form-control", placeholder: "" %> 
              </div>

            </div>

          <div class="row">
            <div class="col-md-4">
                <%= f.label 'cantidad de habitaciones'%><br>
                <%= f.text_field :cantidad_de_habitaciones,:id => "cantidad",value: @my_reservation_requests.cantidad_de_familias, class: "form-control", placeholder: "" %>            
            </div>
            <div class="col-md-4">
                <%= f.label :dias %><br>
                <%= f.text_field :dias,value: (@my_reservation_requests.check_out.to_date - @my_reservation_requests.check_in.to_date).to_i, class: "form-control ", placeholder: "" %>
            </div>
          </div>
            
          <br></br>

        <table class="table well">
          <thead class="thead-inverse">
            <tr>
              <th>Cantidad</th>
              <th>Servicio</th>
              <th>Subtotal</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
        
              <%= f.fields_for :budget_details  ,:wrapper => false do |li| %>
              <tr class="fields">
                  <th scope="row"><%= li.number_field :cantidad ,:class => ""%></th>
                  <% precio = "#"+"#{li.object_name}[subtotal]".gsub(/(\])?\[/, "_").chop %>
                  <% id = "#"+"#{li.object_name}[service_id]".gsub(/(\])?\[/, "_").chop %>
                  <!--td><%#= li.select :service_id, Service.all.collect { |p| [ p.nombre , p.id ] }, {include_blank: true}, {:id => "service_select" }%></td-->   
                  <script type="text/javascript">console.log("<%=:cantidad%>")</script>
                  <td><%= li.autocomplete_field :service, autocomplete_service_nombre_services_path, :placeholder => "Seleccione un servicio", 
                  :multiple => false, :update_elements => {:id => id,:precio => precio }%>
                  <%= li.hidden_field  :service_id%></td>
                  <td><%= li.number_field :subtotal,:class => "", disabled: true %></td>
                  <td><%= li.link_to_remove "", :class => "btn btn-danger glyphicon glyphicon-trash " %></td>
              </tr>
              <%end%>
              <tr>
                <td><%= f.link_to_add "", :budget_details , :class => "btn btn-primary glyphicon glyphicon-plus"%></td>
              </tr>

          </tbody>
        </table>




         <div class="row">
             <div class="col-md-4">
                <%= f.label :descuento %><br>
                <%= f.text_field :descuento, class: "form-control", placeholder: "" %>
            </div>

             <div class="col-md-4">
               <%= f.label :total %><br>
               <%= f.text_field :total, class: "form-control ", placeholder: ""  , disabled: true%>
          </div>
        </div>
        <br></br>
        <div class="form-group">
          <div class="col-sm-10">
          <%= f.submit class: "btn btn-primary" %>
          </div>
        </div>

  <% end %>
  














  <!--div class="form-group">
    <%#= f.label :reservation_request_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%#= f.number_field :reservation_request_id ,value: @my_reservation_requests.id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%#= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%#= f.text_field :email ,value: @my_reservation_requests.email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%#= f.label :type_of_room_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%#= f.number_field :type_of_room_id,value: @my_reservation_requests.type_of_room_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%#= f.label :cantidad_de_habitaciones, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%#= f.number_field :cantidad_de_habitaciones ,value: @my_reservation_requests.cantidad_de_familias, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%#= f.label :dias, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%#= f.number_field :dias,value: (@my_reservation_requests.check_out.to_date - @my_reservation_requests.check_in.to_date).to_i, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%#= f.label :descuento, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%#= f.number_field :descuento, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%#= f.label :total, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%#= f.number_field :total, class: "form-control" %>
    </div>
  </div-->


