<div class="page-header">
  <%= link_to new_budget_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Budget
  <% end %>
  <h1>Listing budgets</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Reservation request</th>
            <th>Email</th>
            <th>Dias</th>
            <th>Descuento</th>
            <th>Total</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @budgets) do |budget| %>
            <td><%= budget.reservation_request_id %></td>
            <td><%= budget.email %></td>
            <td><%= budget.dias %></td>
            <td><%= budget.descuento %></td>
            <td><%= budget.total %></td>
            <td><%= link_to 'Show', budget %></td>
        <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
        <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
