
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
   
    <!-- Sidebar Menu -->
    <%if current_user.has_role? "Admin" %>

    
    <ul class="sidebar-menu">      
        <!-- Optionally, you can add icons to the links -->      
      <li><a href="<%=dashboard_index_path%>"><i class='glyphicon glyphicon-dashboard'></i> <span>Dashboard</span></a></li> 

      <li><a href="<%=audit_index_path%>"><i class='fa fa-search'></i> <span>Auditoria</span></a></li> 
    
      <li class="treeview">
        <a href="<%=new_account_path%>" ><i class='glyphicon glyphicon-check'> </i> <span>Registrar Check-In</span> </a>
      </li>

      <li class="treeview">
        <a href="#">
            <i class='fa fa-user-plus'></i> <span>Personas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">     
          <% if can? :manage, :all %>
            <li><a href="<%=usuarios_path%>"><i class='fa fa-users'></i><span> Usuarios</span></a></li>
          <% end %>     
          <li><a href="<%=clients_path%>"><i class='fa fa-user'> </i> <span>Clientes </span></a></li>
          <li><a href="<%=employees_path%>"><i class='fa fa-user'> </i> <span>Empleados </span></a></li>
        </ul>        
      </li>

      <li class="treeview">
          <a href="#">
            <i class='glyphicon glyphicon-plus'></i> <span>Finanzas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li class="treeview">
          <a href="#"> <i class='glyphicon glyphicon-list-alt'> </i> <span>Contabilidad </span> </a>
            <ul class="treeview-menu">
              <li><a href="<%=accounting_entries_path%>">Asientos</a></li>
              <li><a href="<%=diary_book_diario_path%>">Libro Diario</a></li>
              <li><a href="<%=accounting_report_mayor_path%>">Libro Mayor</a></li>
              <li><a href="<%=accounting_report_balance_path%>">Balance de Sumas y Saldos</a></li>
              <li><a href="<%=accounting_accounts_path%>">Cuentas</a></li>
              <li><a href="<%=account_plans_path%>">Planes de Cuentas</a></li>
            </ul>
          </li>

          <li class="treeview">
              <a href="#"> <i class='glyphicon glyphicon-plus'> </i> <span>Cajas</span> </a>
              <ul class="treeview-menu">
                    <li><a href="<%=cashes_path%>">Listado de Caja</a></li>
                    <li><a href="<%=opening_cashes_path%>">Apertura de caja</a></li>
                    <li><a href="<%=closing_cashes_path%>">Cierre de caja</a></li>

                    <li><a href="<%=cash_movements_path%>">Movimiento de caja</a></li>
                  </ul>
            </li>        
          </ul>
      </li> 

      <li class="treeview">
          <a href="#">
            <i class="fa fa-th"></i> <span>Reservas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a href="<%=reservation_requests_path%>"><i class="fa fa-circle-o"></i> Pedidos de Reservaciones</a></li>
            <li class="active"><a href="<%=reservations_path%>"><i class="fa fa-circle-o"></i>Reservas</a></li>
          </ul>
      </li>

      <li class="treeview">
        <a href="#">
            <i class="fa fa-dollar"></i> <span>Ingresos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">          
          <li><a href="<%=accounts_path%>"><i class='glyphicon glyphicon-list-alt'> </i> <span>Cuentas </span></a></li>
          <li><a href="<%=invoices_path%>"><i class='fa fa-credit-card'> </i> <span>Facturas </span></a></li>
        </ul>        
      </li>
  
      <li class="treeview">
        <a href="<%=rooms_path%>"> <i class='glyphicon glyphicon-bell'> </i> <span>Habitaciones</span> </a>
      </li>
       
      <li class="treeview">
        <a href="<%=cleaning_rooms_path%>"> <i class='glyphicon glyphicon-trash'> </i> <span>Limpieza</span> </a>
      </li>

      <li><a href="<%=complaints_path%>"><i class='glyphicon glyphicon-link'></i> <span>Quejas</span></a></li>
      <li><a href="<%=reports_index_path%>"><i class='glyphicon glyphicon-link'></i> <span>Reportes</span></a></li>

      
    </ul><!-- /.sidebar-menu -->  

    <%elsif current_user.rol_name? "Supervisor"%>

      <ul class="sidebar-menu">          
              <li class="active treeview">
                <a href="#"> <i class='glyphicon glyphicon-plus'> </i> <span>Cajas</span> </a>
                <ul class="treeview-menu">
                      <li><a href="<%=cashes_path%>">Listado de Cajas</a></li>
                      <li><a href="<%=opening_cashes_path%>">Aperturas de cajas</a></li>
                      <li><a href="<%=closing_cashes_path%>">Cierres de cajas</a></li>
                      <li><a href="<%=cash_movements_path%>">Movimientos de cajas</a></li>
                </ul>
            </li>                          
      </ul><!-- /.sidebar-menu --> 

      <%elsif current_user.rol_name? "Recepcionista"%>

      <ul class="sidebar-menu">      
        <!-- Optionally, you can add icons to the links -->      
      <li><a href="<%=dashboard_index_path%>"><i class='glyphicon glyphicon-dashboard'></i> <span>Dashboard</span></a></li> 
      
    
      <li class="treeview">
        <a href="<%=new_account_path%>" ><i class='glyphicon glyphicon-check'> </i> <span>Registrar Check-In</span> </a>
      </li>

      <li class="treeview">
        <a href="#">
            <i class='fa fa-user-plus'></i> <span>Personas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">               
          <li><a href="<%=clients_path%>"><i class='fa fa-user'> </i> <span>Clientes </span></a></li>
          <li><a href="<%=employees_path%>"><i class='fa fa-user'> </i> <span>Empleados </span></a></li>
        </ul>        
      </li>
    
      <li class="treeview">
          <a href="#">
            <i class="fa fa-th"></i> <span>Reservas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a href="<%=reservation_requests_path%>"><i class="fa fa-circle-o"></i> Pedidos de Reservaciones</a></li>
            <li class="active"><a href="<%=reservations_path%>"><i class="fa fa-circle-o"></i>Reservas</a></li>
          </ul>
      </li>

      <li class="treeview">
        <a href="#">
            <i class="fa fa-dollar"></i> <span>Ingresos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">          
          <li><a href="<%=accounts_path%>"><i class='glyphicon glyphicon-list-alt'> </i> <span>Cuentas </span></a></li>
          <li><a href="<%=invoices_path%>"><i class='fa fa-credit-card'> </i> <span>Facturas </span></a></li>
        </ul>        
      </li>
  
      <li class="treeview">
        <a href="<%=rooms_path%>"> <i class='glyphicon glyphicon-bell'> </i> <span>Habitaciones</span> </a>
      </li>
           
      <li><a href="<%=complaints_path%>"><i class='glyphicon glyphicon-link'></i> <span>Quejas</span></a></li>      
      
    </ul><!-- /.sidebar-menu -->  

    <%elsif current_user.rol_name? "Auditor"%>
      <ul class="sidebar-menu">      
        <!-- Optionally, you can add icons to the links -->      
        <li><a href="<%=dashboard_index_path%>"><i class='glyphicon glyphicon-dashboard'></i> <span>Dashboard</span></a></li>   

        <li><a href="<%=audit_index_path%>"><i class='fa fa-search'></i> <span>Auditoria</span></a></li>      
      
      </ul><!-- /.sidebar-menu -->  

    <%end%>

      
 
  </section>
  <!-- /.sidebar -->
</aside>
