<div class="page-header">
  <%= link_to new_detail_of_cash_movement_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Detail of cash movement
  <% end %>
  <h1>Listing detail_of_cash_movements</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Sub monto</th>
    
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @detail_of_cash_movements) do |detail_of_cash_movement| %>
    
        <td><%= detail_of_cash_movement.sub_monto %></td>
    
        <td><%= link_to 'Show', detail_of_cash_movement %></td>
        <td><%= link_to 'Edit', edit_detail_of_cash_movement_path(detail_of_cash_movement) %></td>
        <td><%= link_to 'Destroy', detail_of_cash_movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
