<!-- Modal -->
<div class="modal fade" id="show-modal">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          
      </div>
      <% if @accounting_entry.auto==nil%>
      <div class="modal-body">          
      <h4 class="modal-title" align="center">Asiento</h4>
          <table class="table table-bordered  table-responsive ">
                  <thead>
                    <tr role="row">
                      <th class="col-sm-2">Numero</th>
                      <th class="col-sm-2">Fecha</th>
                      <th class="col-sm-2">Iva</th>
                      <th class="col-sm-2">Debe</th>
                      <th class="col-sm-2">Haber</th>
                    </tr>
                  </thead>
                  <tbody>
                  <div>
                    <td><%= @accounting_entry.numero %></td>
                    <td><%= @accounting_entry.fecha %></td>
                    <td><%= @accounting_entry.iva %></td>
                    <td><%= @accounting_entry.debe %></td>
                    <td><%= @accounting_entry.haber %></td>

                   </div>
                  </tbody> 
                </table>
        <h4 class="modal-title" align="center">Detalles del Asiento</h4>
        <table class="table table-bordered  table-responsive ">
                  <thead>
                    <tr role="row">
                      <th class="col-sm-2">Cuenta</th>
                      <th class="col-sm-2">Concepto</th>
                      <th class="col-sm-2">Monto</th>
                      <th class="col-sm-2">Tipo</th>
                    </tr>
                  </thead>
                  <tbody>
                  <div>
                    <% @accounting_entry.account_x_entries.each do |details|%>
                        <td><%= details.account %></td>
                        <td><%= details.observacion %></td>
                        <td><%= details.monto %></td>
                        <td>
                        <%bo="A"%>
                        <%bo1="D"%>
                        <%mostrar="Acreedor"%>
                        <%mostrar1="Deudor"%>
                        <%if details.tipo==bo%>
                        <%= mostrar %>
                        <%end%>
                        <%if details.tipo==bo1%>
                        <%= mostrar1 %>
                        <%end%>
                        </td>
                      <%end%>                           
                   </div>
                  </tbody> 
                </table>
                <%@con=0%>  
    </div>      
  </div>
</div>
<%end%>


  <% if @accounting_entry.auto==0%>
    
     <div class="modal-body">          
      <h4 class="modal-title" align="center">Asiento</h4>
          <table class="table table-bordered  table-responsive ">
                  <thead>
                    <tr role="row">
                      <th class="col-sm-2">Numero</th>
                      <th class="col-sm-2">Fecha</th>
                      <th class="col-sm-2">Iva</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                  <div>
                    <td><%= @accounting_entry.numero %></td>
                    <td><%= @accounting_entry.fecha %></td>
                    <td><%= @accounting_entry.iva %></td>

                   </div>
                  </tbody> 
                </table>
        <h4 class="modal-title" align="center">Detalles del Asiento</h4>
        <table class="table table-bordered  table-responsive ">
                  <thead>
                    <tr role="row">
                      <th class="col-sm-2">Cuenta</th>
                      <th class="col-sm-2">Concepto</th>
                      <th class="col-sm-2">Monto</th>
                      <th class="col-sm-2">Tipo</th>
                      <th class="col-sm-2">Debe</th>
                      <th class="col-sm-2">Haber</th>
                    </tr>
                  </thead>

                  <tbody>
                    
                    <%@numero_a=@accounting_entry.numero%>

                    <%@cuentas_id=AccountingEntry.find_by_sql("SELECT accounting_entries.id AS id from accounting_entries where numero='#{@numero_a}'")%>
                    <% @cuentas_id.each do |a|%>
                    <% @id_c=a.id%>
                    <%@datos_detalle=AccountingEntry.find_by_sql("SELECT account_x_entries.account AS account ,account_x_entries.observacion ,account_x_entries.monto ,account_x_entries.tipo from account_x_entries where account_x_entries.accounting_entry_id='#{@id_c}'")%>

                    <%@debe=AccountingEntry.find_by_sql("SELECT accounting_entries.debe AS debe from accounting_entries where accounting_entries.id='#{@id_c}'")%>
                    <%@haber=AccountingEntry.find_by_sql("SELECT accounting_entries.haber AS haber from accounting_entries where accounting_entries.id='#{@id_c}'")%>

                    <tr>
                        <td><%= @datos_detalle[0].account %></td>
                        <td><%= @datos_detalle[0].observacion %></td>
                        <td><%= @datos_detalle[0].monto %></td>
                        <td>
                        <%bo="A"%>
                        <%bo1="D"%>
                        <%mostrar="Acreedor"%>
                        <%mostrar1="Deudor"%>
                        <%if @datos_detalle[0].tipo==bo%>
                        <%= mostrar %>
                        <%end%>
                        <%if @datos_detalle[0].tipo==bo1%>
                        <%= mostrar1 %>
                        <%end%>
                        </td>
                        
                        <td>
                        <%= @debe[0].debe %></td>
                        <td>
                        <%= @haber[0].haber %></td>
                        </tr>
                    <%end%>
                </tbody> 
                    
      
    </div>      
  </div>
</div>

<%end%>
<!-- Modal -->
