<tr id="<%= client.id %>">
    <td><%= client.ruc %></td>
    <td><%= client.nombre %></td>
    <td><%= client.apellido %></td>
    <td><%= client.cedula %></td>            
    

    <td><%= link_to client, remote: true, class: 'col-sm-2', title: 'Ver Cliente', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
        <span class= "glyphicon glyphicon glyphicon-eye-open"></span>
    <% end %></td>
    <td><%= link_to edit_client_path(client), remote: true, class: 'col-sm-2', title: 'Editar Cliente', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
        <span class= "glyphicon glyphicon glyphicon-edit"></span>
    <% end %></td>
    <td><%= link_to client, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'col-sm-2', title: 'Eliminar Cliente', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
        <span class= "glyphicon glyphicon glyphicon-trash"></span>
    <% end %></td>


</tr>