<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Clientes</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-right">
      <%= link_to 'Nuevo Cliente', new_client_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Direccion</th>
            <th>Cedula</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
            <tr>
              <td><%= client.nombre %></td>
              <td><%= client.apellido %></td>
              <td><%= client.telefono %></td>
              <td><%= client.email %></td>
              <td><%= client.direccion %></td>
              <td><%= client.cedula %></td>
              <td><%= link_to 'Show', client %></td>
              <td><%= link_to 'Edit', edit_client_path(client) %></td>
              <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>




