<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.apellido %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @client.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @client.direccion %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @client.cedula %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
