<script src="//maps.google.com/maps/api/js?key=[your API key]"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<!DOCTYPE html>
 
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hotel-Uni</title>
    </head>
    <body id="welcome">
    <header role="banner" id="fh5co-header">
            <div class="container">
                <!-- <div class="row"> -->
                <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <!-- Mobile Toggle Menu Button -->
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                 <a class="navbar-brand" href="<%=root_path%>">Hotel Uni</a> 
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
                    <li><a href="#" data-nav-section="Habitaciones"><span>Habitaciones</span></a></li>
                    <li><a href="#" data-nav-section="services"><span>Servicios</span></a></li>
                    <li><a href="#" data-nav-section="contact"><span>Reservacion</span></a></li>
                    <li><a href="#" data-nav-section="testimonials"><span>Testimonios</span></a></li>                    
                    <li><a href="#" data-nav-section="about"><span>Acerca de</span></a></li>                                                         
                    <% if is_ip_allowed %>
                    <li><a href="#" data-nav-section="Quejas"><span>Quejas</span></a></li>
                    <%end%> 
                    <%if !user_signed_in? %>
                        <li><a href="<%=new_user_session_path%>" id="ingresar" ><span>Ingresar</span></a></li>
                    <%else%>
                        <li><a href="<%=dashboard_index_path%>" id="ingresar" ><span>Panel</span></a></li>
                    <%end%>
                  </ul>
                    
                </div>


                </nav>
              <!-- </div> -->
          </div>

    </header>

    <section id="fh5co-home" data-section="home"  data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="animated zoomIn">Bienvenidos</h1>
                            <h2 class="animated zoomIn">Hotel Uni</h2>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slant"></div>
    </section>

    <section id="fh5co-work" data-section="Habitaciones">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Nuestras Habitaciones</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext to-animate">
                            <h3>Tenemos lo mejor en habitaciones para todos los gustos solo diganos que busca en una
                            y trataremos de hacer lo mejor para satisfacerlo.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            <div class='col-md-12'>
              <div class="carousel slide media-carousel" id="media">
                <div class="carousel-inner">
                  <div class="item  active">
                    <div class="row">
                      <div class="col-md-4">
                        <a class="thumbnail image-popup" href="http://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_550/v1479440923/91efd-6-Ayada_Maldives-Sunset-Ocean-Sutes_qca6qw.jpg"><img alt="" src="http://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_550/v1479440923/91efd-6-Ayada_Maldives-Sunset-Ocean-Sutes_qca6qw.jpg"></a>
                      </div>          
                      <div class="col-md-4">
                        <a class="thumbnail image-popup" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_550/v1479439895/Pano-1_cbfkwp.jpg"><img alt="" src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_550/v1479439895/Pano-1_cbfkwp.jpg"></a>
                      </div>
                      <div class="col-md-4">
                        <a class="thumbnail image-popup" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_500/v1479438093/c4dce2_f16a699da7784fb7ae3a24925fae3a15_rrjmft.webp"><img alt="" src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_500/v1479438093/c4dce2_f16a699da7784fb7ae3a24925fae3a15_rrjmft.webp"></a>
                      </div>        
                    </div>
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="col-md-4">
                        <a class="thumbnail image-popup" href="http://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_500/v1479437960/c4dce2_a35c6365062c46ad9f0cecaf480433bb_hmcesy.webp"><img alt="" src="http://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_500/v1479437960/c4dce2_a35c6365062c46ad9f0cecaf480433bb_hmcesy.webp"></a>
                      </div>          
                      <div class="col-md-4">
                        <a class="thumbnail image-popup" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_500/v1480086453/klx92uzi30rzcxbusiij.jpg"><img alt="" src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_500/v1480086453/klx92uzi30rzcxbusiij.jpg"></a>
                      </div>
                      <div class="col-md-4">
                        <a class="thumbnail image-popup" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_500/v1479829300/ukalou9k7xlurgrwqcfw.jpg"><img alt="" src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_500/v1479829300/ukalou9k7xlurgrwqcfw.jpg"></a>
                      </div>        
                    </div>
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="col-md-4">
                        <a class="thumbnail image-popup" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_500/v1479828660/nfik8pvrm5e8npj1ajbx.jpg"><img alt="" src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_500/v1479828660/nfik8pvrm5e8npj1ajbx.jpg"></a>
                      </div>          
                      <div class="col-md-4">
                        <a class="thumbnail image-popup" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_500/v1479828953/rgvfwwizxugqnqirbz59.jpg"><img alt="" src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_500/v1479828953/rgvfwwizxugqnqirbz59.jpg"></a>
                      </div>
                      <div class="col-md-4">
                        <a class="thumbnail image-popup" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_500/v1479828952/annpazvcisscuvylux3k.jpg"><img alt="" src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_500/v1479828952/annpazvcisscuvylux3k.jpg"></a>
                      </div>      
                    </div>
                  </div>
                </div>
                <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                <a data-slide="next" href="#media" class="right carousel-control">›</a>
              </div>                          
            </div>
          </div>

        <script type="text/javascript">
        $(document).ready(function() {
          $('#media').carousel({
            pause: true,
            interval: 4000,
          });
        });
        </script>
           
        </div>
    </section>

    <section id="fh5co-services" data-section="services" style="background-image: url('https://res.cloudinary.com/dqgld1gyl/image/upload/v1477174487/servicios_tt86aq.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-left">
                    <h2 class=" left-border to-animate">Servicios</h2>
                    <div class="row">
                        <div class="col-md-8 subtext to-animate">
                            <h3>Podran observar los diferentes servicios que ofrece el hotel.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                    <i class="icon to-animate-2 glyphicon glyphicon-cutlery"></i>
                    <h3>Restaurante &amp; Bar</h3>
                    <p>Podra encontrar toda clase de bebidas y comidas, tenemos tenedor libre y a la carta</p>
                </div>
                <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                    <i class="icon to-animate-2 glyphicon glyphicon-phone-alt"></i>
                    <h3>Servicio a la Habitacion</h3>
                    <p>Con tan solo marcar el # en el telefono de su habitacion podra llamar directamente a nuestro comedor
                    y ordenar algo para que se lo lleven a la habitacion el servicio esta disponible 24hs</p>
                </div>

                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                    <i class="icon to-animate-2 glyphicon glyphicon-ice-lolly-tasted"></i>
                    <h3>Frigobar</h3>
                    <p>Si lo desea con su reservacion podra pedir que su habitacion tenga un frigobar con bebidas de su agrado</p>
                </div>
                <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                    <i class="icon to-animate-2 glyphicon glyphicon-bed"></i>
                    <h3>Limpieza &amp; mantenimiento</h3>
                    <p>Cuando este en la habitacion si le incomoda algo o siente que esta sucio, podra llamar las 24hs a nuestro
                    servicio de limpieza para que se encarge de sus inconvenientes</p>
                </div>
                
            </div>
        </div>
    </section>

    <section id="fh5co-contact" data-section="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Pedido de reservacion.</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext to-animate">
                            <h3>Puede solicitar un pedido de reservacion aqui, y en breve recibira un presupuesto detallado con lo que solicito.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-bottom-padded-md">
            
                <!--div class="col-md-5 to-animate">
                    <h3>Contact Info</h3>
                    <ul class="fh5co-contact-info">
                        <li class="fh5co-contact-address ">
                            <i class="icon-home"></i>
                            5555 Love Paradise 56 New Clity 5655, <br>Excel Tower United Kingdom
                        </li>
                        <li><i class="icon-phone"></i> (123) 465-6789</li>
                        <li><i class="icon-envelope"></i>info@freehtml5.co</li>
                        <li><i class="icon-globe"></i> <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></li>
                    </ul>
                </div-->
                <!--estaba pedido de reserva-->
                <div style="float: none;
                            margin-left: auto;
                            margin-right: auto;"
                            class="col-md-9 to-animate">
                    <% if notice %>
                        <div class="alert alert-success alert-dismissable">
                        <i class="fa fa-check"></i><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <b><%= notice %></b>
                        </div>
                        <%end%>
                        <%if !user_signed_in? %>
                        <div class="panel panel-success">
                        <div class="panel-heading"> Pedir Reservacion </div>
                            <div class="panel-body">
                                <%= render 'reservation_requests/form' %>
                            </div>
                        </div>
                        <%end%>
                </div>
            </div>

        </div>
        </section>

    <section id="fh5co-testimonials" data-section="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Testimonios</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext to-animate">
                            <h3>Abajo podra observar las opiniones de las diferentes personas
                             que han estado en el hotel.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box-testimony">
                        <blockquote class="to-animate-2">
                            <p>&ldquo;La noche que pase ahi dormi bastante bien excelente atencion.&rdquo;</p>
                        </blockquote>
                        <div class="author to-animate">
                            <figure><%= image_tag "user3-128x128.jpg" , alt: "Person" %></figure>
                            <p>
                            Jean Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-testimony">
                        <blockquote class="to-animate-2">
                            <p>&ldquo;No podria definir lo grandioso que es el hotel, buen ambiente y buenos empleados.&rdquo;</p>
                        </blockquote>
                        <div class="author to-animate">
                            <figure><%= image_tag "user8-128x128.jpg" , alt: "Person" %></figure>
                            <p>
                            John Doe, Senior UI <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box-testimony">
                        <blockquote class="to-animate-2">
                            <p>&ldquo;Si me dieran la oportunidad de ponerle 5 estrellas al hotel estaria corto ya que se
                            merece mucho mas, sin mencionar que su comida es fantastica. &rdquo;</p>
                        </blockquote>
                        <div class="author to-animate">
                            <figure><%= image_tag "user7-128x128.jpg" , alt: "Person" %></figure>
                            <p>
                            Chris Nash, Director <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span>
                            </p>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>

    <section id="fh5co-about" data-section="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Acerca de</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext to-animate">
                            <h3>En el se detalla las personas que trabajaron en el sistema.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="fh5co-person text-center to-animate">
                        <figure><%= image_tag "user7-128x128.jpg" , alt: "Image" %></figure>
                        <h3>Ing Fabrizio Gonzalez</h3>
                        <span class="fh5co-position">Web Designer</span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
                        <ul class="social social-circle">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fh5co-person text-center to-animate">
                        <figure><%= image_tag "user7-128x128.jpg" , alt: "Image" %></figure>
                        <h3>Ing Fabrizio Gonzalez</h3>
                        <span class="fh5co-position">Web Developer</span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
                        <ul class="social social-circle">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fh5co-person text-center to-animate">
                        <figure><%= image_tag "user7-128x128.jpg" , alt: "Image" %></figure>
                        <h3>Ing Fabrizio Gonzalez</h3>
                        <span class="fh5co-position">Web Designer</span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
                        <ul class="social social-circle">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--<section id="fh5co-counters" style="background-image: url('https://res.cloudinary.com/dqgld1gyl/image/upload/v1477175687/full_image_2_qka7mh.jpg');" data-stellar-background-ratio="0.5">
        <div class="fh5co-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center to-animate">
                    <h2>Lo que se te ocurra</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fh5co-counter to-animate">
                        <i class="fh5co-counter-icon icon-briefcase to-animate-2"></i>
                        <span class="fh5co-counter-number js-counter" data-from="0" data-to="89" data-speed="5000" data-refresh-interval="50">89</span>
                        <span class="fh5co-counter-label">Finished projects</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fh5co-counter to-animate">
                        <i class="fh5co-counter-icon icon-code to-animate-2"></i>
                        <span class="fh5co-counter-number js-counter" data-from="0" data-to="2343409" data-speed="5000" data-refresh-interval="50">2343409</span>
                        <span class="fh5co-counter-label">Line of codes</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fh5co-counter to-animate">
                        <i class="fh5co-counter-icon icon-cup to-animate-2"></i>
                        <span class="fh5co-counter-number js-counter" data-from="0" data-to="1302" data-speed="5000" data-refresh-interval="50">1302</span>
                        <span class="fh5co-counter-label">Cup of coffees</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fh5co-counter to-animate">
                        <i class="fh5co-counter-icon icon-people to-animate-2"></i>
                        <span class="fh5co-counter-number js-counter" data-from="0" data-to="52" data-speed="5000" data-refresh-interval="50">52</span>
                        <span class="fh5co-counter-label">Happy clients</span>
                    </div>
                </div>
            </div>
        </div>
    </section>-->

        <% if is_ip_allowed %>
        <section id="fh5co-contact" data-section="Quejas">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Quejas</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext to-animate">
                            <h3>Porque buscamos la excelencia y creemos en que nuestro capital mas valioso son los clientes</h3>
                        </div>
                    </div>
                </div>
            </div>
           <div class="row row-bottom-padded-md">
                <div style="float: none;
                            margin-left: auto;
                            margin-right: auto;"
                            class="col-md-10 to-animate">

                    <% if my_type %>

                        <div class="alert alert-success alert-dismissable" id="my_type">
                        <i class="fa fa-check"></i><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <b><%= my_type %></b>
                        </div>
                        <%end%>
                        <%if !user_signed_in? %>

                        <div class="panel panel-success">
                        <div class="panel-heading">Ayudenos a ofrecele un servicio de excelencia </div>
                        <div class="panel-body">
                        <%= render 'complaints/form' %>
                        </div>
                        </div>
                        <%end%>

            </div>
        </div>
        </div>
        <%end%>
        <!--Aca esta el mapa  -->
        <p><center> <div style='width: 800px;'>
            <div id="map" style='width: 800px; height: 400px;'></div>
        </div> </center></p>
        <script>

            var map;
            function initMap() {
                  //lat y lng de paraguay  
                  var paraguay = {lat: -27.2522918, lng: -55.913586699999996};
                  var map = new google.maps.Map(document.getElementById('map'), {
                    scaleControl: true,
                    center: paraguay,
                    zoom: 10
                  });
                  //
                  var infowindow = new google.maps.InfoWindow;
                  infowindow.setContent('<b>Hotel-Uni el mejor lugar para estar</b>');

                  var marker = new google.maps.Marker({map: map, position: paraguay});
                  marker.addListener('click', function() {
                    infowindow.open(map, marker);
                  });
                
            }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLAeVyovPzs8mwvG9wcoZO_jWGswe0quM&callback=initMap"
        async defer></script>
        <!--Aca esta el mapa  -->
        
        <p><center>Aqui va un mapa de localizacion si quieren.</center></p>
    </section>
    
    
    <footer id="footer" role="contentinfo">
        <a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
        <div class="container">
            <div class="">
                <div class="col-md-12 text-center">
                    <p>&copy; Elate Free HTML5. All Rights Reserved. <br>Created by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> Images: <a href="http://pexels.com/" target="_blank">Pexels</a>, <a href="http://plmd.me/" target="_blank">plmd.me</a></p>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="social social-circle">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    
    <!-- jQuery -->
    

    </body>
</html>






