<%= form_for(@cleaning, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @cleaning.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@cleaning.errors.count, "error") %> prohibited this cleaning from being saved:</h4>

      <ul>
      <% @cleaning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="box-body">

      <div class="form-group col-sm-6">
        <%= f.label :Habitacion ,class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
        <%= f.select :room_id ,Room.all.collect { |p| [p.identificador, p.id ] },{include_blank: false},class: "form-control"%>  
        </div>
      </div>
      <div class="form-group col-sm-6">  
        <%= f.label :Desde, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :start, class: "datepicker form-control" %>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <%= f.label :Hasta, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :end, class: "datepicker form-control" %>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <%= f.label :Etiqueta, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
      <div class="form-group col-sm-6">
       
          <%= f.submit "Editar limpieza", class: "btn btn-primary" %>
        
      </div>
 </div>     
<% end %>
