<div class="page-header">
  <%= link_to new_cleaning_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Cleaning
  <% end %>
  <h1>Listing cleanings</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Cleaning room</th>
            <th>Room</th>
            <th>Start</th>
            <th>End</th>
            <th>Title</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @cleanings) do |cleaning| %>
            <td><%= cleaning.cleaning_room %></td>
            <td><%= cleaning.room %></td>
            <td><%= cleaning.start %></td>
            <td><%= cleaning.end %></td>
            <td><%= cleaning.title %></td>
            <td><%= link_to 'Show', cleaning %></td>
        <td><%= link_to 'Edit', edit_cleaning_path(cleaning) %></td>
        <td><%= link_to 'Destroy', cleaning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
