<div class="box">
    <div class="box-body">
     
      <h3 class="box-title">Limpieza de Habitacion</h3>


    <dl class="dl-horizontal">


      <dt>Habitacion:</dt>
      <dd><%= @cleaning.room_identificador %></dd>

      <dt>Desde:</dt>
      <dd><%= @cleaning.start %></dd>

      <dt>Hasta:</dt>
      <dd><%= @cleaning.end %></dd>

      <dt>Titulo:</dt>
      <dd><%= @cleaning.title %></dd>

    </dl>
     <%= link_to cleaning_rooms_path, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
    
      <% end %>
      <%= link_to edit_cleaning_path(@cleaning), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
    
      <% end %>
      <%= link_to '', @cleaning, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger glyphicon glyphicon-trash"%>
    </div>
    <%= link_to cleaning_rooms_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
</div>