<div class="box">
  
    <div class="box-header with-border">
          <h3><center>Limpieza de Habitacion   <%= @cleaning.room_identificador %></center></h3>
    </div>
    
    <div class="box-body">

              <div class="form-group col-sm-4">
                <div class="col-sm-7">
                 <dt>Habitacion:</dt>
              </div>
                <div class="col-sm-5">
                 <%= @cleaning.room_identificador %>
                </div>
              </div>
               <div class="form-group col-sm-4">
                <div class="col-sm-7">
                 <dt>Desde la fecha:</dt>
              </div>
                <div class="col-sm-5">
                 <%= @cleaning.start.strftime("%d-%m-%Y") %>
                </div>
              </div>
               <div class="form-group col-sm-4">
                <div class="col-sm-7">
                 <dt>Hasta la fecha:</dt>
              </div>
                <div class="col-sm-5">
                 <%= @cleaning.end.strftime("%d-%m-%Y") %>
                </div>
              </div>
               <div class="form-group col-sm-4">
                <div class="col-sm-7">
                 <dt>Etiqueta:</dt>
              </div>
                <div class="col-sm-5">
                 <%= @cleaning.title %>
                </div>
              </div>
                  <div class="form-group col-sm-4">
                <div class="col-sm-7">
                 <dt>Encargado:</dt>
              </div>
                <div class="col-sm-5">
                 <%= @cleaning.employee_nombre %>
                </div>
              </div>

    </div>
    <div class="box-body">
        <div class="form-group col-sm-4">
           <%= link_to cleaning_rooms_path, class: 'btn btn-default' do %>
            <span class="fa fa-calendar-check-o"></span>
        
          <% end %>
          <%= link_to edit_cleaning_path(@cleaning), class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-pencil"></span>
        
          <% end %>
          <%= link_to '', @cleaning, method: :delete, data: { confirm: 'Esta seguro?' } ,class:"btn btn-danger glyphicon glyphicon-trash"%>
        
        
        </div>
        
    </div>
    
</div>