<%= form_for(@reservation, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @reservation.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h4>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 

  <div class="form-group">
    <%= f.label :nombre, class: "col-sm-1 control-label" %>
    <%= f.label @my_reservation_requests.nombre, class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.hidden_field :nombre,value:@my_reservation_requests.nombre, class: "form-control" , :readonly => true%>
    </div>

    <%= f.label :email, class: "col-sm-1 control-label" %>
    <%= f.label @my_budgets.email, class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.hidden_field :email,value:@my_budgets.email, class: "form-control" , :readonly => true%>
    </div>
    
  </div>


  <div class="form-group">
    <%= f.label :dias, class: "col-sm-1 control-label" %>
    <%= f.label @my_budgets.dias, class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.hidden_field :dias,value:@my_budgets.dias, class: "form-control" , :readonly => true%>
    </div>

    <%= f.label :total, class: "col-sm-1 control-label" %>
    <%= f.label @my_budgets.total, class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.hidden_field :total,value:@my_budgets.total, class: "form-control" , :readonly => true%>
    </div>
    
  </div>
   
<div class="form-group">

    <%= f.label "tipo de Cuarto", class: "col-sm-1 control-label" %>
   <!-- <%= f.label @my_budgets.email, class: "col-sm-1 control-label" %>-->
    <div class="col-sm-3">
      <%= f.hidden_field :type_of_room_id,value:@my_budgets.type_of_room_id, class: "form-control" , :readonly => true%>
      <%= f.select :type_of_room_id,TypeOfRoom.all.collect { |p| [ p.tipo , p.id ] },
                  {:selected =>@my_budgets.type_of_room_id}, {class: "form-control"} %>
    </div>
    
  </div>


  <div class="form-group">
    <div class="col-sm-10">
      
      <%= button_tag( :class => "btn btn-primary") do %>
        <i class="glyphicon glyphicon-floppy-save"></i> Guardar 
      <% end %>
    </div>
  </div>
<% end %>
