<div id="filterrific_results">
<div class="box-body">
<div id="filterrific_results">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
          
              <th>Nombre</th>

              <th>Apellido</th>
          
              <th>Email</th>

              <th>Telefono</th>
          
              <th>Total</th>
              
              <th>Check-in</th>
        

              <th></th>

            </tr>
          </thead>

          <tbody>
            <%= content_tag_for(:tr, @reservations) do |reservation| %>
          
              <td><%= reservation.nombre %></td>
          
              <td><%= reservation.apellido %></td>
          
              <td><%= reservation.email %></td>

              <td><%= reservation.telefono %></td>

              <td><%= number_to_currency_py(reservation.total) %></td>
              
              <td><%= link_to 'Confirmar', {:controller => "accounts", :action => "new", :id => reservation.id },class: "btn btn-primary" %></td>
              
              
              <td align="right"><%= link_to '', reservation, remote: true, class: "btn btn-primary glyphicon glyphicon-eye-open" %>
              <%= link_to '', edit_reservation_path(reservation),class: "btn btn-warning glyphicon glyphicon-pencil" %>
              <%= link_to '', reservation,class: "btn btn-danger glyphicon glyphicon-trash borrar", method: :delete, data: { confirm: 'Esta seguro?' }, :remote => true %></td>
            <% end %>
          </tbody>
        </table>
        </div>
      </div>
  </div>

  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
         <nav><%=paginate @reservations, :theme => 'twitter-bootstrap-3' %></nav>
    </ul>
    
  </div>
</div>