<div class="modal fade" id="show-modal">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reservaciones</h4>
      </div>
      
      <div class="modal-body">   
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Nombre:</strong>
          <%= @reservation.nombre %>
        </p>


        <p>
          <strong>Apellido:</strong>
          <%= @reservation.email %>
        </p>



        <p>
          <strong>Check in:</strong>
          <%= @reservation.dias %>
        </p>

        <p>
          <strong>Check out:</strong>
          <%= @reservation.type_of_room_id %>
        </p>

        <p>
          <strong>Tipo de Cuarto:</strong>
          <%= @reservation.total %>
        </p>

      </div>
    </div>

  </div>
</div>