<div class="box">
<div class="box-header with-border">



  <%#= link_to my_new_reservation_path,           class: 'btn btn-primary' do %>
    <!--span class="glyphicon glyphicon-plus"></span-->
    
  <%# end %>
  <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" id="myMod">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Reservaciones.</h4>
      </div>
      <div class="modal-body">
         <div id='calendario'></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar.</button>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  #calendario { width: 1000px;}
  #myMod{width: 75% !important;}
</style>

<h3><center>Reservaciones</center></h3>
    <div>
      <button><%= link_to '', {:controller => "reservations", :action => "new"} , class: "btn btn-primary glyphicon glyphicon-plus" %></button>

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-calendar"></span>
      </button>

      <button type="button" class="btn btn-primary" id="showmenu">
          <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
    <br>
    <div class="menu well" style="display: none;">
      <div class="row">
      <%= form_for_filterrific @filterrific do |f| %>

          <div class="col-xs-3">
            <%= f.select(:sorted_by_estado,
            @filterrific.select_options[:sorted_by_estado],
            { include_blank: 'Todos los Estados' },{ :class => 'form-control' })%>
          </div>


          <div class="col-xs-3">
            <%= f.text_field(:sorted_by,class: 'filterrific-periodically-observed form-control',placeholder:"Buscar por nombre")%>
          </div>

          <div class="col-xs-3">
            <%= f.text_field(:sorted_by_apellido,class: 'filterrific-periodically-observed form-control',placeholder:"Buscar por apellido")%>
          </div>
           
         <%= render_filterrific_spinner %>
      <% end %>
      </div>
  </div>

<%= render(
  partial: 'reservations/list',
  locals: { reservations: @reservations }
) %>
</div>
  
  <!--<div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
         <nav><%#=paginate @reservations, :theme => 'twitter-bootstrap-3' %></nav>
    </ul>
    
  </div>-->
</div>
<script type="text/javascript">
   $(window).load(function() {
        $('#showmenu').click(function() {
                $('.menu').toggle("slide");
        });

         $('#calendario').fullCalendar({
      height: 500,
      //theme: true,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay,listDay,listWeek'
      },
      navLinks: true, // can click day/week names to navigate views
      businessHours: true, // display business hours
      editable: false,
      eventLimit: false,
      // customize the button names,
      // otherwise they'd all just say "list"
      views: {
        listDay: { buttonText: 'listar Dia' },
        listWeek: { buttonText: 'listar Semana' }
      },

      defaultView: 'month',
      events: "/reservation_rooms.json"
    
    });
   
  $('#myModal').on('shown.bs.modal', function () {
   width:1000,
   $("#calendario").fullCalendar('render');
      });
    });


</script>