<div class="page-header">
  <%= link_to new_account_x_plan_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Account x plan
  <% end %>
  <h1>Listing account_x_plans</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Cuenta superior</th>
    
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @account_x_plans) do |account_x_plan| %>
    
        <td><%= account_x_plan.cuenta_superior %></td>
    
        <td><%= link_to 'Show', account_x_plan %></td>
        <td><%= link_to 'Edit', edit_account_x_plan_path(account_x_plan) %></td>
        <td><%= link_to 'Destroy', account_x_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
