<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>AdminLTE 2 | Log in</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>    
  </head>
  <body class="login-page" id="login">
    <div class="login-box animated fadeInDown">
      <div class="login-logo">
        <br>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <center><legend><b>Hotel</b>UNI</legend></center>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group has-feedback">
            <label for="username-email">Correo</label>
            <%= f.text_field :email, class: 'form-control', autofocus: true, placeholder: 'correo' %>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <label for="username-email">Contraseña</label>
            <%= f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: 'contraseña' %>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">            
            <div class="col-xs-12">  
              <div class="col-xs-6">               
                <a class='btn btn-danger btn-block btn-flat' href="<%=root_path%>" role="button">Cancelar</a>
              </div>           
              <div class="col-xs-6">
                <%= f.submit 'Ingresar', class: 'btn btn-success btn-block btn-flat' %>
              </div>                                                                     
            </div><!-- /.col -->
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
