<%= form_for(@cash_count, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @cash_count.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@cash_count.errors.count, "error") %> prohibited this cash_count from being saved:</h4>

      <ul>
      <% @cash_count.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :fecha_arqueo, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :fecha_arqueo, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
