<div class="page-header">
  <%= link_to new_cash_count_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Cash count
  <% end %>
  <h1>Listing cash_counts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Fecha arqueo</th>
    
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @cash_counts) do |cash_count| %>
    
        <td><%= cash_count.fecha_arqueo %></td>
    
        <td><%= link_to 'Show', cash_count %></td>
        <td><%= link_to 'Edit', edit_cash_count_path(cash_count) %></td>
        <td><%= link_to 'Destroy', cash_count, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
