<!-- Modal -->
<div class="modal fade" id="show-modal">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          
      </div>
      
      <div class="modal-body">          
      <h4 class="modal-title" align="center">Asiento</h4>
          <table class="table table-bordered  table-responsive ">
                  <thead>
                    <tr role="row">
                      <th class="col-sm-2">Grupo</th>
                      <th class="col-sm-2">Cuenta</th>
                      <th class="col-sm-2">Nombre</th>
                      <th class="col-sm-2">Imputable</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                  <div>
                    <td><%= @accounting_account.grupo %></td>
                    <td><%= @accounting_account.cuenta %></td>
                    <td><%= @accounting_account.nombre %></td>
                    <td>
                    <%bo=true%>
                    <%bo1=false%>
                    <%mostrar="Si"%>
                    <%mostrar1="No"%>
                    <%if @accounting_account.imputable==bo%>
                    <%= mostrar %>
                    <%end%>
                    <%if @accounting_account.imputable==bo1%>
                    <%= mostrar1 %>
                    <%end%>
                    </td>

                   </div>
                  </tbody> 
                </table>

    </div>      
  </div>
</div>
<!-- Modal -->
