<tr id="<%= accounting_account.id %>">
    <td><%= accounting_account.grupo %></td>
    <td><%= accounting_account.nombre %></td>
    <td><%= accounting_account.imputable %></td>
    <td>
        <div class="row">
            <div class="col-xs-2">
                <%= link_to accounting_account, remote: true, class: 'btn btn-primary', title: 'Ver', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "glyphicon glyphicon-eye-open"></span>
                    <% end %>    
            </div>
            <div class="col-xs-2">
                <%= link_to edit_accounting_account_path(accounting_account), remote: true, class: 'btn btn-warning', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "glyphicon glyphicon-pencil"></span>
                    <% end %>    
            </div>
            <div class="col-xs-2">
                <%= link_to accounting_account, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-danger', title: 'Eliminar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                        <span class= "glyphicon glyphicon-trash"></span>
                    <% end %>                    
    
            </div>
            
        </div>
    </td>
</tr>