<div class="box">
  <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box-header with-border">
                                    <div class="col-sm-offset-1 col-sm-9">
                                    <table class="table-responsive ">
                                    <thead>
                                    <tr role="row">
                                     <th class="col-sm-2"><h3 class="box-title titulo">CUENTAS</h3></th>
                                     <th class="col-sm-2"><h3 class="box-title titulo"><%= link_to new_accounting_account_path, class: 'btn btn-primary' do %><span class="glyphicon glyphicon-plus"></span>
                                       <% end %></h3></th>
                                       
                                       <th class="col-sm-2"><h2 class="box-title titulo">Ejercicio</h2><%= form_for(@accounting_account=AccountingAccount.new,data: {toggle: "validator"}, html: { class: "form-horizontal", role: "form" }) do |f| %>
                                        <% if @accounting_account.errors.any? %>
                                      <div class="alert alert-danger alert-dismissable" role="alert">
                                       <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                       <h4><%= pluralize(@accounting_account.errors.count, "error") %> prohibited this employee from being saved:</h4>
                                        <ul>
                                        <% @accounting_account.errors.full_messages.each do |msg| %>
                                       <li><%= msg %></li>
                                        <% end %>
                                        </ul>
                                        </div>
                                      <% end %>
                                   <td>
                        <div class="box-body">
                          <%= f.select :eje1 ,AccountingYear.all.order(anho: :desc).collect { |p| [p.anho, p.id ] },{include_blank: 'Lista de Planes'},class: "form-control" ,id:"select"%>              
                          <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                         </td>
                          <% end %></th>
                                    </tr>
                                    </thead>
                                    </table>
                                    </div> 
                      </div>

      <div class="box-body">
          <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6"></div>
            </div>
            
            <div class="row">
              <div class="col-sm-offset-1 col-sm-9">
                <table class="table table-bordered  table-responsive ">
                  <thead>
                    <tr role="row">
                      <th class="col-sm-2">Grupo</th>
                      <th class="col-sm-2">Cuenta</th>
                      <th class="col-sm-2">Nombre</th> 
                      <th class="col-sm-2">Imputable</th> 
                      <th class="col-sm-2">Opciones</th>
                    </tr>
                  </thead>
                    <tbody id="partial2">
                      <% @accounting_accounts.each do |accounting_account| %>
                      <%= render "partial", accounting_account: accounting_account %>
                      <% end %>
                    </tbody>
                  <tbody id="partial">
                    
                  </tbody> 
                </table>
              </div>  
            </div>
          </div>
        </div>



<script type="text/javascript">
  $(document).ready(function(){
    $("#select").on("change",function(){
      console.log($(this).val());
    });
  });
</script>

<script type="text/javascript">
function search_invoices(){
    $("#select").on('change', function (event,data) {                
            var ejercicio_id = $(this).val()
            console.log($(this).val());
            $.ajax({
                type: "GET",
                url: "/accountiong_account_years/"+ejercicio_id,
                dataType: "script",
                data: {"accounting_year_id" : ejercicio_id} 
            });
    });
}      
</script>
</div>
</div>
 </div>