<!DOCTYPE html>
<% sum_de_subtotales_servicios= 0 %>
<% total=0%>
<html>
<head>
	<title>Presupuesto</title>
  	<%= stylesheet_link_tag    'application', media: 'all'%>
</head>
<body>
	<div class="box box-primary" style= "background-color:#d2d6de" >
            <div class="box-header with-border" >
            	<h1 align="center">Hotel-Uni</h1>
	            <h2 align="center">Hola <%= @reservation_request.nombre%> <%=@reservation_request.apellido %>!</h2>	
	            <h3 align="center">Gracias por su preferencia</h3>	
            </div>

            <div class="box-body" style= "background-color:#d2d6de  " >
	            
            	 <%if  !@budget_room_details.empty? %>
		            <div class="box" style= "background-color:#d2d6de !important" >
		            	<div class="box-header with-border">
		              		<h3 class="box-title" align="center">Detalle de habitaciones.</h3>
		            	</div>
		            	<div class="box-body">
						  <table class="table table-bordered">
						    <thead>
						      <tr>	
						      		<th>Cantidad.</th>
						            <th>Tipo de Habitacion.</th>
						            <th>Check_in.</th>
						            <th>Check_out.</th>
						            <th>Subtotal(Gs).</th>

						      </tr>
						    </thead>
						    <tbody>
						      <%= content_tag_for(:tr, @budget_room_details) do |budget_room_detail| %>

						            <td><%= budget_room_detail.cantidad %></td>
						            <td><%= TypeOfRoom.find(budget_room_detail.type_of_room_id).tipo %></td>
						            <td><%= @budget.check_in.strftime("%d/%m/%Y") %></td>
						            <td><%= @budget.check_out.strftime("%d/%m/%Y")%></td>
						            <td><%= budget_room_detail.subtotal %></td>
						      <% end %>
						    </tbody>
						  </table>
						</div>
		            </div>
	            <%end%>
	            <!--ACA Van los servicios solicitados y/o propuestos de sugerencias. -->
	            <%if  !@budget_service_details.empty? %>
		            <div class="box" style= "background-color:#d2d6de !important" >
		            	<div class="box-header with-border">
		              		<h3 class="box-title" align="center">Detallado de Servicios que puedan interesarte.</h3>
		            	</div>
		            	<div class="box-body">
						  <table class="table table-bordered">
						    <thead>
						      <tr>	
						      		<th>Cantidad</th>
						            <th>Servicio</th>
						            <th>Precio</th>

						      </tr>
						    </thead>
						    <tbody>
						      <%= content_tag_for(:tr, @budget_service_details) do |budget_service_detail| %>

						      <% sum_de_subtotales_servicios=sum_de_subtotales_servicios+budget_service_detail.subtotal%>
						            <td><%= budget_service_detail.cantidad %></td>
						            <td><%= Service.find(budget_service_detail.service_id).nombre %></td>
						            <td><%= budget_service_detail.subtotal %></td>
						      <% end %>
						    </tbody>
						  </table>
						</div>
		            </div>
	            <%end%>


	            <%if  !@budget_room_details.empty? %>
	            <div class="box" style= "background-color: #d2d6de !important" >
	            	<div class="box-header with-border">
	              		<h3 class="box-title" align="center">Resumen de Habitación con servicios.</h3>
	            	</div>
	            	<div class="box-body">
					  <table class="table table-bordered">
					    <thead>
					      <tr>	
					      		<th>Tipo de confort</th>
					      		<th>Tipo de habitacion</th>
					      		<th>Fecha de entrada</th>
					      		<th>Fecha Salidad</th>
					            <th>Descuento</th>
					            <th>Total(Sin servicios)</th>
					            <th>Total(Con servicios)</th>

					      </tr>
					    </thead>
					    <tbody>
					      <%= content_tag_for(:tr, @budget_room_details) do |budget_room_detail| %>
					      		<td><%= Comfort.find(@budget.comfort_id).descripcion%></td>
					      		<td><%= TypeOfRoom.find(budget_room_detail.type_of_room_id).tipo%></td>
					      		<td><%= @budget.check_in.strftime("%d/%m/%Y")%></td>
					      		<td><%= @budget.check_out.strftime("%d/%m/%Y")%></td>
					            <td><%= @budget.descuento %> %</td>
					            <% total_con_servicios = budget_room_detail.subtotal + sum_de_subtotales_servicios%>
					            <td><%= budget_room_detail.subtotal %></td>
					            <td><%= total_con_servicios %></td>
			          
					      <% end %>
					    </tbody>
					  </table>
					</div>
	            </div>
	            <%end%>

            </div>
     </div>
</body>
</html>