<div class="page-header">
  <%= link_to new_budget_room_detail_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Budget room detail
  <% end %>
  <h1>Listing budget_room_details</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Budget</th>
            <th>Cantidad</th>
            <th>Type of room</th>
            <th>Subtotal</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @budget_room_details) do |budget_room_detail| %>
            <td><%= budget_room_detail.budget %></td>
            <td><%= budget_room_detail.cantidad %></td>
            <td><%= budget_room_detail.type_of_room %></td>
            <td><%= budget_room_detail.subtotal %></td>
            <td><%= link_to 'Show', budget_room_detail %></td>
        <td><%= link_to 'Edit', edit_budget_room_detail_path(budget_room_detail) %></td>
        <td><%= link_to 'Destroy', budget_room_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
