
<%= nested_form_for(@room,html: { class: "form-horizontal", role: "form",data: {toggle:"validator"} }) do |f| %>

  <% if @room.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h4>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
 <div class="box-body">
 <!--  <div class="alert alert-danger" role="alert" style="play: none;"></div>-->
  <div class="form-group col-sm-6">
    <%= f.label "Tipos", class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.select :type_of_room_id ,TypeOfRoom.all.collect { |p| [p.tipo, p.id ] },{include_blank: false},class: "form-control" %>
    </div>
  </div>

  <div class="form-group  col-sm-6">
    <%= f.label "Estado", class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.select :state_id ,State.all.collect { |p| [p.descripcion, p.id ] },{include_blank: false},class: "form-control"%>

    </div>
  </div>
<!--
  <div class="form-group has-feedback col-sm-6">
    <%= f.label "Capacidad", class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.number_field :capacidad, class: "form-control",min: 1,max: 10,:required=>true %>
      <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors">*requerido</div>
    </div>
  </div>-->

  <div class="form-group has-feedback col-sm-6">
    <%= f.label "Indentificador", class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :identificador, class: "form-control",minlength:2,maxlength:12,:required=>true %>
      <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors">*requerido</div>
    </div>
  </div>


  <div class="form-group col-sm-6">
    <%= f.label "Comfort", class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
       <%= f.select :comfort_id, Comfort.all.collect { |p| [ p.descripcion, p.id ] },{include_blank: false},class: "form-control"%>
         <span id="alerta span"class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors">*requerido</div>
    </div>
  </div>

   
  <div class="form-group  col-sm-12">
       
          
        <div class="col-sm-8">
        <div class="box box-primary box-solid collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title">Imagenes</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          <div class="box-body" style="display: none;">
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>Imagenes</th>
            </tr>
          </thead>
          <tbody>
        
              <%= f.fields_for :photos  ,:wrapper => false do |li| %>
              <tr class="fields">
                  <th scope="row"> <%= li.file_field :my_file, class: "form-control" ,type:"file" ,class: "file"  %></th>
                 
                  <td><%= li.link_to_remove "", :class => "btn btn-danger glyphicon glyphicon-trash " %></td>
              </tr>
              <%end%>
              <tr>
                <td><%= f.link_to_add "", :photos, :class => "btn btn-primary glyphicon glyphicon-plus"%></td>
              </tr>

          </tbody>
        </table>
        </div> 
  </div>
</div>
</div>
  




    </div>         
  <div class ="box-body">  

      <%= f.submit "Crear Habitacion", class: "btn btn-primary" %>
</div>
<% end %>
