<body class="room">
<section>

<div class="page-header">
  <%= link_to new_room_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Room
  <% end %>
  <h1>Listing rooms</h1>
</div>
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
  <table class="table  table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Identificador</th>
    
        <th>Tipo de Habitacion</th>
    
        <th>Estado</th>
    
        <th>Capacidad</th>
    
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @rooms) do |room| %>
    
        <td><%= room.identificador %></td>

        <td><%= room.type_of_room_tipo %></td>
    
        <td><%= room.state_descripcion %></td>
    
        <td><%= room.capacidad %></td>
    
        
    
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-sm-1"></div>
</div>        


 </section>
</body>