<p id="notice"><%= notice %></p>
<h1 class="text-center">Listing rooms</h1>
</div>
  <div class="row">
    <div class="col-sm-9 col-sm-offset-1 text-right">
      <%= link_to new_room_path, remote: true, class: "btn btn-primary" do %>
      <span class="fa fa-fw fa-bed"></span>
       Nueva Habitacion
      <%end%>
    </div>
  </div>
<div class="col-sm-2"></div>
<div class="col-sm-8 text-center">
  <table id="tabla" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>  

        <th class="text-center">Identificador</th>
    
        <th class="text-center">Tipo de Habitacion</th>
    
        <th class="text-center">Estado</th>
    
        <th class="text-center">Capacidad</th>
    
       
    
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

<tbody>
          <% @rooms.each do |room| %>
            <%= render "row", room: room %>
          <% end %>
        </tbody>
  </table>
</div>

<div class="col-sm-2">
  <table id= "tabla-2" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>  

        <th class="text-center">tipo</th>
    
        <th class="text-center">cantidad</th>
    
      </tr>
    </thead>

        <tbody>
          <% @type_of_rooms.each do |room_type| %>
          <tr>
          <td><%=room_type.tipo%></td>
          <td><%=Room.where("type_of_room_id = ?",room_type.id).count%></td>
          
          <% end %>
          </tr>
        </tbody>
  </table>
</div>





<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Collapsible Group Item #1
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Collapsible Group Item #2
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
</div>