<!--<div class="box">
 <div class="box-header with-border">

  <h3 class="box-title">
    <i class="fa fa-globe"></i>#Hotel-UNI  Listado de Habitaciones
            
  </h3>



<div class="box-body">
 
  
      <%= link_to new_room_path, class: "btn btn-primary" do %>
      <span class="fa fa-fw fa-bed"></span>
       Nueva Habitacion
      <%end%>
  
</div>
  <div class="box-body">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Imagenes</th>

        <th>Identificador</th>
    
        <th>Tipo de Habitacion</th>
    
        <th>Estado</th>
    
        <th>Capacidad</th>
        <th>Comforts</th>
        <th></th>
    
        
   
      </tr>
    </thead>

    <tbody>
  
      <% @rooms.each do |room|%>
    <tr >
       <td>
         <% Photo.where("#{:room_id} = ?" , room.id).each do |p|%>
         <a  href= "<%=p.my_file.url%>"  class="image-popup">
         <%= image_tag p.my_file.url,:width => 50, :height => 50%>
         </a>
         <%end%>
        </td>

                
                              
        <td><%= room.identificador %></td>

        <td><%= room.type_of_room_tipo %></td>
    
        <td><%= room.state_descripcion %></td>
    
        <td><%= room.capacidad %></td>
        <td><%= room.comfort_descripcion %></td>

        <td align="center"><%= link_to '', room,class: "btn btn-primary glyphicon glyphicon-eye-open"%>
        <%= link_to '', edit_room_path(room), class: "btn btn-warning glyphicon glyphicon-pencil"%>
        <%= link_to '', room, method: :delete, data: { confirm: 'Are you sure?'},class: "btn btn-danger glyphicon glyphicon-trash" %></td>

     </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
  
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
         <nav><%= paginate @rooms, :theme => 'twitter-bootstrap-3' %></nav>
    </ul>
    
  </div>
      


 </div>

-->

<a id="single_1" href="http://farm9.staticflickr.com/8140/30366640446_eb359921c5_b.jpg" title="Morning on Camaret (Tony N.)">
  <img src="http://farm9.staticflickr.com/8140/30366640446_eb359921c5_m.jpg" alt="" />
</a>


  <ul>
    <li><a class="fancybox" href="#inline1" title="Lorem ipsum dolor sit amet">Inline</a></li>
    <li><a class="fancybox fancybox.ajax" href="ajax.txt">Ajax</a></li>
    <li><a class="fancybox fancybox.iframe" href="iframe.html">Iframe</a></li>
    <li><a class="fancybox" href="http://www.adobe.com/jp/events/cs3_web_edition_tour/swfs/perform.swf">Swf</a></li>
  </ul>

  <div id="inline1" style="width:400px;display: none;">
    <h3>Etiam quis mi eu elit</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Nulla et lorem eu nibh adipiscing ultricies nec at lacus. Cras laoreet ultricies sem, at blandit mi eleifend aliquam. Nunc enim ipsum, vehicula non pretium varius, cursus ac tortor. Vivamus fringilla congue laoreet. Quisque ultrices sodales orci, quis rhoncus justo auctor in. Phasellus dui eros, bibendum eu feugiat ornare, faucibus eu mi. Nunc aliquet tempus sem, id aliquam diam varius ac. Maecenas nisl nunc, molestie vitae eleifend vel, iaculis sed magna. Aenean tempus lacus vitae orci posuere porttitor eget non felis. Donec lectus elit, aliquam nec eleifend sit amet, vestibulum sed nunc.
    </p>
  </div>



<div class="container">
    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="col-sm-6" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                         <ul class="hide-bullets">
      
                    <% Photo.all.each do |p| %>
                     <li class="col-sm-3">                
                       <a class="thumbnail" id="carousel-selector-0">
                        <%=image_tag p.my_file_url.to_s%>
                       
                        </a>
                    </li>
                   
                    <%end%>
                   
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">


                                  <% Photo.all.each do |p| %>
                                   <div class="item">
                                   <%=image_tag p.my_file_url.to_s%>

                                   </div>


                
                                  <% end %>
                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Slider-->
        </div>

    </div>
</div>
</div>
