<body class="room">
<section>

<div class="page-header">
  <h1>Listing rooms</h1>
  <%= link_to new_room_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Room
  <% end %>
</div>
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
  <table class="table  table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Identificador</p></th>
    
        <th>Tipo de Habitacion</th>
    
        <th>Estado</th>
    
        <th>Capacidad</th>
    
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
  
      <% @rooms.each do |room|%>
    <tr >
        <td   style=" padding-bottom: 0px;"><%= room.identificador %></td>

        <td style=" padding-bottom: 0px;"><%= room.type_of_room_tipo %></td>
    
        <td  style=" padding-bottom: 0px;"><%= room.state_descripcion %></td>
    
        <td style=" padding-bottom: 0px;"><%= room.capacidad %></td>
         
        <%comfort =" " %> 
        <% @room_comfort = RoomComfort.where("#{:room_id} = ?", room.id)%>
        
        <% @room_comfort.each do |r|%>
         <% p = r.comfort_id %> 
        
         <%comfort = p.to_s + comfort %>
         <%comfort =  " " + comfort %>
        <%end%>
      

         <td>
           <%=comfort%>
        </td>

        <td style=" padding-bottom:0px;"><%= link_to 'Show', room %></td>
        <td style=" padding-bottom: 0px;"><%= link_to 'Edit', edit_room_path(room) %></td>
        <td   style=" padding-bottom: 0px;"><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     
     </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-sm-1"></div>
</div>        


 </section>
</body>