<section class="invoice">
 <div class="row invoice-info">
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
<h1 class="titulo page-header">
            <i class="fa fa-globe"></i>#Hotel-UNI  Listado de Habitaciones
            
          </h1>
</div>        
</div> 


<div class="row">
  <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <%= link_to new_room_path, class: "btn btn-primary" do %>
      <span class="fa fa-fw fa-bed"></span>
       Nueva Habitacion
      <%end%>
    </div>
     <div class="col-sm-2"></div>
</div>
<BR>
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
  <table id="example" class="display nowrap table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Imagenes</th>

        <th>Identificador</th>
    
        <th>Tipo de Habitacion</th>
    
        <th>Estado</th>
    
        <th>Capacidad</th>
        <th>Comforts</th>
        <th></th>
        <th></th>
        <th></th>
        
   
      </tr>
    </thead>

    <tbody>
  
      <% @rooms.each do |room|%>
    <tr >
       <td>
         <% Photo.where("#{:room_id} = ?" , room.id).each do |p|%>
         <a  href= "<%=p.my_file.url%>"  class="image-popup">
         <%= image_tag p.my_file.url,:width => 50, :height => 50%>
         </a>
         <%end%>
        </td>

                
                              
        <td><%= room.identificador %></td>

        <td><%= room.type_of_room_tipo %></td>
    
        <td><%= room.state_descripcion %></td>
    
        <td><%= room.capacidad %></td>
         <td>
        <% RoomComfort.where("#{:room_id} = ?",room.id).each  do |r|  %>
      
           <%= r.comfort_descripcion%>
           <BR>
      
        <% end %>

        </td>
        <td><%= link_to '', room, class:"glyphicon glyphicon-info-sign", style:"font-size:18px"%></td>
        <td><%= link_to '', edit_room_path(room), class:"glyphicon glyphicon-edit", style:"font-size:16px" %></td>
        <td><%= link_to '', room, method: :delete, data: { confirm: 'Are you sure?'},class:"glyphicon glyphicon-trash",style:"font-size:16px" %></td>

     </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-sm-1"></div>
</div>        

</div>
 </section>




