
<div class="row">
  <div class="col-xs-4">
    <div class="report_header">
      <%=image_tag("logo.png", size: "130x130", class: "hide")%>
    </div>
  </div>
  <div class="col-xs-4" >
  <div class="box-header with-border report_title">
  <h1 class="box-title hide">Listado de habitaciones</h1>
  </div>
  </div>
  <div class="col-xs-4">
    <div class="report_information">
      <p class="hide"><%= Time.now.strftime("%d/%m/%Y %T")%></p>
      <p class="hide">Impreso por: <%= current_user.username %></p>
    </div>
  </div>
</div>

<div class="box box-primary">
<div class="box-header">
<div class="row">
<%= form_for_filterrific @filterrific do |f| %>


   
    <div class="col-xs-3">
     <div class="hide">
    Estado:
    </div>
   <%= f.select(:sorted_by_state,
      @filterrific.select_options[:sorted_by_state],
      { include_blank: 'Todas los Estados' },{ :class => 'form-control' })%>
    </div>

     <div class="col-xs-3">
     <div class="hide">
    Tipo de habitacion:
    </div>
   <%= f.select(:sorted_by_type,
      @filterrific.select_options[:sorted_by_type],
      { include_blank: 'Todas los tipos' },{ :class => 'form-control' })%>
    </div>
    
   <%= render_filterrific_spinner %>
<% end %>
</div>
</div>
</div>
<%= render(
  partial: 'rooms/list',
  locals: { rooms: @rooms }
) %>
