<div class="page-header">
  <%= link_to rooms_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_room_path(@room), class: 'btn btn-primary',remote: true do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
     <td><%= link_to 'Editar', edit_room_path(@room), remote: true  %></td>
  <h1>Show room</h1>
</div>

<dl class="dl-horizontal">

  <dt>Type of room:</dt>
  <dd><%= @room.type_of_room_tipo %></dd>


  <dt>State:</dt>
  <dd><%= @room.state_descripcion %></dd>


  <dt>Capacidad:</dt>
  <dd><%= @room.capacidad %></dd>


  <dt>Identificador:</dt>
  <dd><%= @room.identificador %></dd>
  
  
  <% @room_comforts.each  do |room|  %>
      
            <dt><%= "Comfort:" %></dt>
            <dd><%= room.comfort_descripcion%></dd>
      
  <% end %>

</dl>
