<div class="box">
 
      <div class="box-header with-border">
        <h3><center>Habitacion <%= @room.identificador %></center></h3>
      </div>

    <div class="box-body">

              <div class="form-group col-sm-4">
                <div class="col-sm-7">
                 <dt>Identificador:</dt>
                </div>
                <div class="col-sm-5">
                 <%= @room.identificador %>
                </div>
              </div>

              <div class="form-group col-sm-4">
                <div class="col-sm-7">
                 <dt>Tipo de Habitacion:</dt>
              </div>
                <div class="col-sm-5">
                 <%= @room.type_of_room_tipo %>
                </div>
              </div>
              

              <!--Se determina el color del label dependiendo del estado NO UTILIZO ENUMERIZE, -->                   
                <%if @room.state_descripcion == "libre" %>
                  <% btn = 'success' %>
                <%elsif @room.state_descripcion == "fuera de servicio" %>
                  <% btn = 'danger' %>
                <%elsif @room.state_descripcion == "reservado" %>
                   <% btn = 'warning' %>
                <%else %>
                  <% btn = 'info' %>
                <%end%>  


              <div class="form-group col-sm-4">
                <div class="col-sm-7">
                 <dt>Tipo de Habitacion:</dt>
              </div>
                <div class="col-sm-5">
                <span class="label label-<%=btn%>"><%= @room.state_descripcion %></span>
                </div>
              </div>

                <div class="form-group col-sm-4">
                <div class="col-sm-7">
                 <dt>Comfort:</dt>
              </div>
                <div class="col-sm-5">
                <%= @room.comfort_descripcion %>
                </div>
              </div>


      </div>



            <div style="text-align:center">
            <% if !(Photo.where("#{:room_id} = ?" , @room.id)).present?%>
                    AGREGUE IMAGENES

            <%end%>
            <% Photo.where("#{:room_id} = ?" , @room.id).each do |p|%>
              
                   <%if (!p.my_file.present?) %>
                   AGREGUE IMAGENES

                   <%else%>
              <a class="image-popup" href="<%=p.my_file.url%>">
              <%= cl_image_tag(p.my_file.filename,:width => 150, :height => 100, :crop => :fill, :radius => 20 )%>
              </a>
      
                   <%end%>
           
            <%end%>

            
          </div>


     <div class="box-body">
         <div class="col-sm-3">
              <%= link_to rooms_path, class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-list-alt"></span>
            
              <% end %>
             <%= link_to edit_room_path(@room),class: "btn btn-success" do %>
             <span class="glyphicon glyphicon-edit"></span>
             Editar
             <%end%> 
         </div>
    </div>
 
</div>
