<div class="box">
 
      <div class="box-header with-border">
        <h3><center>Habitacion <%= @room.identificador %></center></h3>
      </div>

    <div class="box-body">

      <div class="col-md-4">
      <dl class="dl-horizontal">
      <dt>Identificador: </dt>
      <dd><%= @room.identificador %></dd>

      <dt>Tipo de Habitacion:</dt>
      <dd><%= @room.type_of_room_tipo %></dd>
      <dt>Estado:</dt>

           <!--Se determina el color del label dependiendo del estado NO UTILIZO ENUMERIZE, -->                   
                <%if @room.state_descripcion == "libre" %>
                  <% btn = 'success' %>
                <%elsif @room.state_descripcion == "fuera de servicio" %>
                  <% btn = 'danger' %>
                <%elsif @room.state_descripcion == "reservado" %>
                   <% btn = 'warning' %>
                <%else %>
                  <% btn = 'teal' %>
                <%end%>     
            <dd><span class="label label-<%=btn%>"><%= @room.state_descripcion %></span></dd>
      
      <dt>Comfort:</dt>
      <dd><%= @room.comfort_descripcion %></dd>

      </dl>
      </div>
      <div class="col-md-8">
      <% if !(Photo.where("#{:room_id} = ?" , @room.id)).present?%>
             
         <%end%>
      <% Photo.where("#{:room_id} = ?" , @room.id).each do |p|%>
        <div class="col-sm-2">
             <%if (!p.my_file.present?) %>
             
             <%else%>
             <a  href= "<%=p.my_file.url%>"  class="image-popup">
             <%= image_tag p.my_file.url,:width => 150, :height => 150%>
             </a>
             <%end%>
        </div>
      <%end%>

      </div>    
   </div>
    
     <BR>
     <BR>
     <div class="box-body">
    
        <div>
          <%= link_to rooms_path, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Volver
          <% end %>
         <%= link_to edit_room_path(@room),class: "btn btn-default" do %>
         <span class="glyphicon glyphicon-edit"></span>
         Editar
         <%end%> 
        </div>
    </div>
 
</div>
