<div class="page-header">
  <%= link_to new_payment_type_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Payment type
  <% end %>
  <h1>Listing payment_types</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Descripcion</th>
    
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @payment_types) do |payment_type| %>
    
        <td><%= payment_type.descripcion %></td>
    
        <td><%= link_to 'Show', payment_type %></td>
        <td><%= link_to 'Edit', edit_payment_type_path(payment_type) %></td>
        <td><%= link_to 'Destroy', payment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
