<%= nested_form_for @usuario, url: usuario_path, html: { method: :put } do |f| %>
<div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Editar Usuario</a></li>              
            </ul>
            <div id="user" class="tab-content">
              <div class="active tab-pane" id="activity">               
                <!-- Post -->                    
                    <!-- /.box-header -->
                    <!-- form start -->                                          
                    <div class="box-body">
                      <div class="form-group">
                          <h4 class="box-title">Informacion Personal</h4>
                            <div class="col-md-12">
                              <div class="col-md-6">
                                <label for="exampleInputEmail1">Nombre</label>   <%= f.text_field :username, :maxlength => 35, autofocus: true, :class => 'form-control', placeholder:"Nombre" %>
                              </div>
                              <div class="col-md-6">
                                <label for="exampleInputEmail1">Apellido</label>
                                 <%= f.text_field :apellido, :maxlength => 35, :class => 'form-control', placeholder:"Apellido" %>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="col-md-6">
                                <label for="exampleInputEmail1">C.I.N</label>
                                <%= f.text_field :numero_ci, :maxlength => 7, :class => 'form-control', placeholder:"Cedula" %>
                              </div>
                              <div class="col-md-6">
                                <label for="exampleInputEmail1">Direccion</label>
                                <%= f.text_field :direccion, :maxlength => 65, :class => 'form-control', placeholder:"Direccion" %>
                              </div>
                            </div> 
                            <div class="col-md-12">
                              <div class="col-md-6">
                                <label for="exampleInputEmail1">Telefono</label>
                                <%= f.text_field :telefono, :maxlength => 12, :class => 'form-control', placeholder:"Telefono" %>
                              </div>
                              <div class="col-md-6">
                                <label for="exampleInputEmail1">Celular</label>
                                 <%= f.text_field :celular, :maxlength => 12, :class => 'form-control', placeholder:"Celular" %>
                              </div>
                            </div>                                   
                          </div>
                        </div>
                      <!-- /.box-body -->
                      <div class="box-body">
                        <div class="form-group">
                          <h4 class="box-title">Informacion de Acceso</h4>
                          <div class="col-md-12">
                            <div class="col-md-6">
                              <label for="exampleInputEmail1">Correo</label>
                              <%= f.email_field :email, :maxlength => 35, :class => 'form-control', placeholder:"Correo" %>                     
                            </div>                                               
                          </div>                            
                        </div>
                      </div> 
                      <div class="box-body">
                              
                              <table class="table">
                                <thead class="thead-inverse">
                                  <tr>
                                    <th>Imagenes</th>
                                  </tr>
                                </thead>
                                <tbody>
                              
                                    <%= f.fields_for :photos  ,:wrapper => false do |li| %>
                                    <tr class="fields">
                                        <th scope="row"> <%= li.file_field :my_file, class: "form-control" ,type:"file" ,class: "file"  %></th>
                                       
                                        <td><%= li.link_to_remove "", :class => "btn btn-danger glyphicon glyphicon-trash " %></td>
                                    </tr>
                                    <%end%>
                                    

                                </tbody>
                              </table>
                        
                      </div>
                 
                      <div class="box-body">
                        <div class="form-group">
                          <h4 class="box-title">Roles</h4>
                          <div class="col-md-12">
                            <div class="col-md-3">
                              <h5>Movimiento de Caja</h5>
                              <% for i in 2..5 %>
                              <% role = Rol.find(i) %>
                                <%= check_box_tag  "user[rol_ids][]", role.id, f.object.rols.include?(role) %>
                                <%= role.role %><br>
                              <% end %>                                
                          </div>
                          <div class="col-md-3">
                              <h5>Caja</h5>
                              <% for i in 6..9 %>
                              <% role = Rol.find(i) %>
                                <%= check_box_tag  "user[rol_ids][]", role.id, f.object.rols.include?(role) %>
                                <%= role.role %><br>
                              <% end %>                                
                          </div>

                          <div class="col-md-3">
                              <h5>Apertura</h5>
                              <% for i in 10..13 %>
                              <% role = Rol.find(i) %>
                                <%= check_box_tag  "user[rol_ids][]", role.id, f.object.rols.include?(role) %>
                                <%= role.role %><br>
                              <% end %>                                
                          </div>

                          <div class="col-md-3">
                              <h5>Cierre</h5>
                              <% for i in 14..17 %>
                              <% role = Rol.find(i) %>
                                <%= check_box_tag  "user[rol_ids][]", role.id, f.object.rols.include?(role) %>
                                <%= role.role %><br>
                              <% end %>                                
                          </div>

                          </div>

                          <div style="margin-top: 30px;" class="col-md-12">

                            <div class="col-md-3">
                              <h5>Arqueo</h5>
                              <% for i in 18..21 %>
                              <% role = Rol.find(i) %>
                                <%= check_box_tag  "user[rol_ids][]", role.id, f.object.rols.include?(role) %>
                                <%= role.role %><br>
                              <% end %>                                
                            </div> 

                            <div class="col-md-3">
                              <h5>Pedidos de Reservaciones</h5>
                              <% for i in 22..25 %>
                              <% role = Rol.find(i) %>
                                <%= check_box_tag  "user[rol_ids][]", role.id, f.object.rols.include?(role) %>
                                <%= role.role %><br>
                              <% end %>                                
                            </div> 

                            <div class="col-md-3">
                              <h5>Reservaciones</h5>
                              <% for i in 26..29 %>
                              <% role = Rol.find(i) %>
                                <%= check_box_tag  "user[rol_ids][]", role.id, f.object.rols.include?(role) %>
                                <%= role.role %><br>
                              <% end %>                                
                            </div>

                            <div class="col-md-3">
                              <h5>Facturas</h5>
                              <% for i in 30..33 %>
                              <% role = Rol.find(i) %>
                                <%= check_box_tag  "user[rol_ids][]", role.id, f.object.rols.include?(role) %>
                                <%= role.role %><br>
                              <% end %>                                
                            </div>      

                          </div>

                          <div style="margin-top: 30px;" class="col-md-12">

                            <div class="col-md-3">
                              <h5>Cuentas</h5>
                              <% for i in 34..37 %>
                              <% role = Rol.find(i) %>
                                <%= check_box_tag  "user[rol_ids][]", role.id, f.object.rols.include?(role) %>
                                <%= role.role %><br>
                              <% end %>                                
                            </div>

                            <div class="col-md-3">
                              <h5>Clientes</h5>
                              <% for i in 38..41 %>
                              <% role = Rol.find(i) %>
                                <%= check_box_tag  "user[rol_ids][]", role.id, f.object.rols.include?(role) %>
                                <%= role.role %><br>
                              <% end %>                                
                            </div>

                            <div class="col-md-3">
                              <h5>Servicios</h5>
                              <% for i in 42..45 %>
                              <% role = Rol.find(i) %>
                                <%= check_box_tag  "user[rol_ids][]", role.id, f.object.rols.include?(role) %>
                                <%= role.role %><br>
                              <% end %>                                
                            </div>

                            <div class="col-md-3">
                              <h5>Contabilidad</h5>
                              <% for i in 46..48 %>
                              <% role = Rol.find(i) %>
                                <%= check_box_tag  "user[rol_ids][]", role.id, f.object.rols.include?(role) %>
                                <%= role.role %><br>
                              <% end %>                                
                            </div>  
                            </div>  
                          <div style="margin-top: 30px;" class="col-md-12">
                            <div class="col-md-3">
                              <h5>Habitaciones</h5>
                       
                              <% role = Rol.find(49) %>
                                <%= check_box_tag  "user[rol_ids][]", role.id, f.object.rols.include?(role) %>
                                <%= role.role %><br>
                                                       
                            </div>
                          </div>                               

                          </div>                                                                                                           
                        </div>                                                       
                            
                <!-- /.post -->
              </div>                        
              <div class="box-footer">                
                <%= f.submit "Actualizar", :class => 'btn btn-success pull-right'%>                
                <%= link_to 'Cancelar', usuarios_path , class: 'btn btn-default pull-right' %>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
<% end %>        