<%= form_for @usuario, url: usuario_path, html: { method: :put } do |f| %>
<div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Editar Usuario</a></li>              
            </ul>
            <div id="user" class="tab-content">
              <div class="active tab-pane" id="activity">               
                <!-- Post -->                    
                    <!-- /.box-header -->
                    <!-- form start -->                                          
                    <div class="box-body">
                      <div class="form-group">
                          <h4 class="box-title">Informacion Personal</h4>
                            <div class="col-md-12">
                              <div class="col-md-6">
                                <label for="exampleInputEmail1">Nombre</label>   <%= f.text_field :username, :maxlength => 35, autofocus: true, :class => 'form-control', placeholder:"Nombre" %>
                              </div>
                              <div class="col-md-6">
                                <label for="exampleInputEmail1">Apellido</label>
                                 <%= f.text_field :apellido, :maxlength => 35, :class => 'form-control', placeholder:"Apellido" %>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="col-md-6">
                                <label for="exampleInputEmail1">C.I.N</label>
                                <%= f.text_field :numero_ci, :maxlength => 7, :class => 'form-control', placeholder:"Cedula" %>
                              </div>
                              <div class="col-md-6">
                                <label for="exampleInputEmail1">Direccion</label>
                                <%= f.text_field :direccion, :maxlength => 65, :class => 'form-control', placeholder:"Direccion" %>
                              </div>
                            </div> 
                            <div class="col-md-12">
                              <div class="col-md-6">
                                <label for="exampleInputEmail1">Telefono</label>
                                <%= f.text_field :telefono, :maxlength => 12, :class => 'form-control', placeholder:"Telefono" %>
                              </div>
                              <div class="col-md-6">
                                <label for="exampleInputEmail1">Celular</label>
                                 <%= f.text_field :celular, :maxlength => 12, :class => 'form-control', placeholder:"Celular" %>
                              </div>
                            </div>                                   
                          </div>
                        </div>
                      <!-- /.box-body -->
                      <div class="box-body">
                        <div class="form-group">
                          <h4 class="box-title">Informacion de Acceso</h4>
                          <div class="col-md-12">
                            <div class="col-md-6">
                              <label for="exampleInputEmail1">Correo</label>
                              <%= f.email_field :email, :maxlength => 35, :class => 'form-control', placeholder:"Correo" %>                     
                            </div>                                               
                          </div>                            
                        </div>
                      </div> 

                      <div class="box-body">
                              <div class="form-group">
                                <h4 class="box-title">Rol</h4>
                                <div class="col-md-12">
                                <%= f.select :rol_id, Rol.all.collect {|x| [x.nombre, x.id]},{}, {:multiple => false, class: "selectpicker"} %>
                                </div>                
                              </div>
                      </div>                                                     
                            
                <!-- /.post -->
              </div>                        
              <div class="box-footer">                
                <%= f.submit "Actualizar", :class => 'btn btn-success pull-right'%>                
                <%= link_to 'Cancelar', usuarios_path , class: 'btn btn-default pull-right' %>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
<% end %>       

<script type="text/javascript">
  $('.selectpicker').selectpicker({
    liveSearch: true,    
    size: 5,
    maxOptions: 1,
    title: "Seleccione un rol"
  });
</script> 