<%= form_for @usuario, validate: true, url: usuarios_path, html: { method: :post } do |f| %>

<div class="field col-md-11 form-group">

      <div class="field col-md-12 form-group">
        <h3>Informacion Personal</h3>
      </div>
      <form class="form-horizontal">
        <div class="field col-md-12 form-group">
          <div class="field col-md-4 form-group required">
            <%= f.label :username, "Nombre", :class => 'col-md-3 control-label'%>
            <div class="field col-md-9 form-group">
              <%= f.text_field :username, :maxlength => 35, autofocus: true, :class => 'form-control' %> 
            </div>
          </div>
          <div class="field col-md-4 form-group required">
            <%= f.label :apellido, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :apellido, :maxlength => 35, :class => 'form-control' %>
            </div>
          </div>
          <div class="field col-md-4 form-group required">
            <%= f.label :numero_ci, "Cedula", :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :numero_ci, :maxlength => 7, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="field col-md-12 form-group">
          <div class="field col-md-4 form-group required">
            <%= f.label :direccion, :class => 'col-md-3 control-label'%>
            <div class="field col-md-9 form-group">
              <%= f.text_field :direccion, :maxlength => 65, :class => 'form-control' %>
            </div>
          </div>
          <div class="field col-md-4 form-group required">
            <%= f.label :email, "Correo", :class => 'col-md-3 control-label'%>
            <div class="col-md-9">
              <%= f.email_field :email, :maxlength => 35, :class => 'form-control' %>
            </div>
          </div>
          <div class="field col-md-4 form-group required">
            <%= f.label :telefono, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :telefono, :maxlength => 12, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="field col-md-12 form-group">  
          <div class="field col-md-4 form-group required">
            <%= f.label :celular, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :celular, :maxlength => 12, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="field col-md-12 form-group">
          <h3>Contraseña</h3>
        </div>        
        <div class="field col-md-12 form-group">
          <div class="field col-md-6 form-group required">
            <%= f.label :password, "Contraseña", :class => 'col-md-4 control-label'%>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            <div class="field col-md-8 form-group">
              <%= f.password_field :password, :maxlength => 50, autocomplete: "off", :class => 'form-control' %>
            </div>
          </div>
        </div>        
        <div class="field col-md-12 form-group">
          <div class="field col-md-6 form-group required">
            <%= f.label :password_confirmation, "Confirmar Contraseña", :class => 'col-md-4 control-label' %>
            <div class="col-md-8">
              <%= f.password_field :password_confirmation, :maxlength => 65, autocomplete: "off", :class => 'form-control' %>
            </div>                      
          </div>
        </div>
                         
        <div class="col-md-10">
          <div class="actions">
            <%= f.submit "Agregar", :class => 'btn btn-success btn-lg'%>
            <%= link_to 'Cancelar',  usuarios_path , class: 'btn btn-primary margen btn-lg' %>
          </div>
        </div>
      </form>  
   
    </div>
<% end %>