<div class="box box-primary">
  <div class="box-header with-border">
    <center><h3 class="box-title">Administracion de Usuarios</h3></center>
    <div class="btn-group pull-right" role="group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Crear Nuevo
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="<%=new_rol_path%>">Rol</a></li>
        <li><a href="<%=new_usuario_path%>">Usuario</a></li>
      </ul>
    </div>      
    <div class="row">
      <%= form_for_filterrific @filterrific do |f| %>
          <div class="col-xs-3">
            <%= f.text_field(:sorted_by, class: 'filterrific-periodically-observed form-control',placeholder:"Buscar por nombre")%>
          </div>           
         <%= render_filterrific_spinner %>
      <% end %>
    </div>    
  </div>
  <%= render(partial: 'usuarios/list', locals: { usuarios: @usuarios }) %>
</div>


