<div class="page-header">
  <%= link_to detail_of_payment_types_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_detail_of_payment_type_path(@detail_of_payment_type), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show detail_of_payment_type</h1>
</div>

<dl class="dl-horizontal">

  <dt>Titular:</dt>
  <dd><%= @detail_of_payment_type.titular %></dd>


  <dt>Banco:</dt>
  <dd><%= @detail_of_payment_type.banco %></dd>


  <dt>Numero:</dt>
  <dd><%= @detail_of_payment_type.numero %></dd>


  <dt>Tipo tarjeta:</dt>
  <dd><%= @detail_of_payment_type.tipo_tarjeta %></dd>


  <dt>Fecha disponibilidad:</dt>
  <dd><%= @detail_of_payment_type.fecha_disponibilidad %></dd>


</dl>
