<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Cliente %><br>
    <%= f.select :client_id, Client.all.collect { |c| [ c.nombre, c.id ] }, include_blank: true %>
  </div>

<div class="field">
    <%= f.label :Checks %><br>
  </div>


    <div class="form-group">
      <%= f.label :fecha_entrada, class: "col-sm-2 sr-only" %>
      <div class="col-sm-6">
        <%= f.text_field :fecha_entrada, class: "datepicker", placeholder:"Check_in"%>
      </div>
   
      <%= f.label :fecha_salida, class: "col-sm-2 sr-only" %>
      <div class="col-sm-6">
        <%= f.text_field :fecha_salida, class: "datepicker", placeholder:"Check_out"%>
      </div>

    </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>