<%= nested_form_for(@account, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <section class="account">
      <!-- title row -->
      <div class="row">
      <!-- info row -->
      <div class="row invoice-info">
        <!-- /.col -->
        <div class="col-sm-5 invoice-col">
          <div class="row">
            <div class="col-sm-10">
              <%= f.label 'Cliente:', class: "col-sm-3 control-label" %>              
              <%= f.autocomplete_field :nombre, autocomplete_client_cedula_clients_path, class:"col-sm-7", placeholder: "Ingrese numero de cedula", :multiple => false, :update_elements => {:id => '#cli_id', :ruc => '#ruc', :direccion => '#direccion', :telefono => '#telefono', :email => '#correo'}  %>

              <%= link_to new_client_path, remote: true, class: 'col-sm-2', title: 'Registrar Nuevo Cliente', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "glyphicon glyphicon glyphicon-plus"></span><span class= "glyphicon glyphicon glyphicon-user"></span>
                    <% end %> 
              <%= f.hidden_field :client_id, id: 'cli_id' %>

            </div>
            <div class="col-sm-12" style="margin-top:10px;">
              <%= f.label 'RUC:', class: "col-sm-3 control-label" %>
              <%= f.text_field :ruc, id: 'ruc', class:"col-sm-5", placeholder: "RUC", readonly: true %>
            </div>
            <div class="col-sm-12" style="margin-top:5px;">
              <%= f.label 'Direccion:', class: "col-sm-3 control-label" %>        
              <%= f.text_field :direccion, id: 'direccion', class:"col-sm-5", placeholder: "Barrio", readonly: true %>
            </div>
            <div class="col-sm-12" style="margin-top:5px;">
              <%= f.label 'Telefono:', class: "col-sm-3 control-label" %>        
              <%= f.text_field :telefono, id: 'telefono', class:"col-sm-5",placeholder: "Celular", readonly: true %>
            </div>  
            <div class="col-sm-12" style="margin-top:5px;">
              <%= f.label 'Correo:', class: "col-sm-3 control-label" %>        
              <%= f.text_field :correo, id: 'correo', class:"col-sm-6",  placeholder: "Correo electronico", readonly: true %>
            </div>                                             
          </div>                              
        </div>
        <!-- /.col -->
        <!--div class="col-sm-6 invoice-col">

          
            <div class="row">

                <%= f.label 'Check-in:', class: "col-sm-3" %>            
                <%= f.text_field :fecha_entrada, id: "date", class: "datepicker col-sm-3", placeholder: "Fecha de entrada"%>
                <%= f.label "",  class: 'btn btn-inverse col-sm-1', id: "bt1", title: 'Hoy', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "fa fa-calendar-check-o"></span>
                    <% end %> 
            </div>
            <div class="row">

                <%= f.label 'Check-out:', class: "col-sm-3" %>            
                <%= f.text_field :fecha_salida, class: "datepicker", placeholder: "Fecha de salida"%>

            </div>

          <br> 
          <br>




            
        </div !-->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


              <div class="table-responsive well">
              <table class="table table-striped table-bordered table-hover services" id="table">
                <thead class="thead-inverse">
                  <tr>
                    <th>Tipo de Habitacion.</th>
                    <th>Confort.</th>
                    <th>Habitacion.</th>
                    <th>check_in.</th>
                    <th>check_out.</th>
                    <th>Subtotal (Gs).</th>
                    <th>Disponible.</th> 
                    <th>Eliminar.</th>
                  </tr>
                </thead>
                <tbody>
                    <!-- begin-->
                    <%= f.fields_for :room_account_details,:validate => true ,:wrapper => false do |li| %>
                    <tr class="fields">
                        <% cantidad = "#"+"#{li.object_name}[cantidad]".gsub(/(\])?\[/, "_").chop %>
                        <% subtotal = "#"+"#{li.object_name}[subtotal]".gsub(/(\])?\[/, "_").chop %>
                        <% id = "#"+"#{li.object_name}[comfort_id]".gsub(/(\])?\[/, "_").chop %>

                    
                    <td><%= li.select :type_of_room_id,TypeOfRoom.all.collect{ |p| [ p.tipo, p.id,{'precio'=>p.precio}]},{selected: li.object.type_of_room_id,:prompt => "Tipo de Habitacion"},{ class: "form-control sincronizador1"}%></td>

                    <td><%= li.select :comfort_id,Comfort.all.collect{ |p| [ p.descripcion, p.id,{'precio'=>p.precio} ]}, {selected: li.object.comfort_id,:prompt => "Confort"},{ class: "form-control sincronizador2",style: "width: 110px"}%></td>

                    <td><%= li.select :room_id,Room.all.collect{ |p| [ p.identificador, p.id]},{:prompt => "Elegir Habitacion"},{ class: "form-control room_id",style: "width: 110px"}%></td>
                    
                    <td><%= li.text_field :check_in,style: "width: 105px",class: "datepicker form-control check_in"%></td>
                    <td><%= li.text_field :check_out,style: "width: 105px",class: "datepicker form-control check_out"%></td>
                    <td><%= li.text_field :subtotal,data: {autonumeric: {aSign: 'Gs ',mDec: 0}},class: "form-control subtotal",readonly: true%></td>
                    <td>
                        <button type="button" class="btn btn-primary" id="my_button">
                              <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </td>
                         <!--<td><%#= li.autocomplete_field :type_of_room, autocomplete_type_of_room_tipo_type_of_rooms_path, :placeholder => "Seleccione un tipo habitacion", 
                        :multiple => true, :update_elements => {:id => id} %>-->

                    <td><%= li.link_to_remove "",id: "borrar", :class => "btn btn-danger glyphicon glyphicon-trash " %></td>
                    </tr>
                    <!--aca suma-->
                    <%end%>
                    <tr>
                      <td><%= f.link_to_add "", :room_account_details , :class => "btn btn-primary glyphicon glyphicon-plus"%></td>
                    </tr>

                </tbody>
              </table>
              </div>




      <!-- Table row -->
        <div class="box box-primary box-solid collapsed-box">
            <div class="box-header with-border">
              <h3 class="box-title" style="color:white">Detalle Servicios</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="box-body" style="display: none;">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped" id="table">
            <thead>
            <tr>
              <th>Cantidad</th>
              <th>Servicio</th>
              <th>Precio</th>
              <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
        
              <%= f.fields_for :account_details ,:wrapper => false do |li| %>
              <tr class="fields">

                  <% cantidad = "#"+"#{li.object_name}[cantidad]".gsub(/(\])?\[/, "_").chop %>
                  <% precio = "#"+"#{li.object_name}[precio]".gsub(/(\])?\[/, "_").chop %>
                  <% id = "#"+"#{li.object_name}[service_id]".gsub(/(\])?\[/, "_").chop %>

                  <th scope="row"><%= li.number_field :cantidad ,min: 1 ,:class => "escuchable",value: 1%></th>          
                  
                  <td><%= li.autocomplete_field :servicio, autocomplete_service_nombre_services_path, :placeholder => "Seleccione un servicio", 
                  :multiple => true, :update_elements => {:id => id,:precio => precio },class: "ui-autocomplete-input"%>
                  <%= li.hidden_field  :service_id%></td>
                  <td><%= li.number_field  :precio,class: "escuchable",readonly: true%></td>
                  <td><%= li.number_field :subtotal,:class => "subtotal",readonly: true%></td>
                  <td><%= li.link_to_remove "",id: "borrar", :class => "btn glyphicon glyphicon-trash", title: 'Eliminar detalle', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' %></td>
              </tr>
              <%end%>
              <tr>
                <td><%= f.link_to_add "", :account_details , :class => "btn glyphicon glyphicon-plus", title: 'Agregar detalle', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth'%></td>
              </tr>

          </tbody>
          </table>
        </div>
        </div>
        </div>
        <!-- /.col -->
      <!-- /.row -->

      <div class="row">
        <!-- /.col -->
        <div class="col-md-6 col-md-offset-6">

          <div class="table-responsive">
            <table class="table" id="table_totals">
              <tbody>
                <tr>
                  <th>Subtotal:</th>
                  <td><%= f.text_field :subtotal,readonly: true, id: "total"%></td>
                </tr>
                <tr>
                  <th>Descuento: </th>
                  <td><%= f.number_field :descuento ,min: 0, max: 100, id: "descount"%> %</td>
                </tr>            
                <tr>
                  <th>Total:</th>
                  <td><%= f.text_field :total, readonly: true, id: "totales"%></td>
                </tr>         
                <tr>
                  <th>IVA:</th>
                  <td><%= f.text_field :iva, readonly: true, id: "iva"%></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="row no-print">
        <div class="col-xs-12">
            <%= f.submit 'Guardar', class: "btn btn-success pull-right" %>
            <a href="<%=accounts_path%>" class="btn btn-default" role="button">Cancelar</a>        
        </div>
      </div>
        <!-- /.col -->
  </section>
<% end %>    

<script type="text/javascript">

   $(document).ready(function (){  
        
        $('#descuento,#cantidad_de_habitaciones,#dias').change(function(){
           actualizartotal();
        });    
        $('#total').val(getPrecioInicial());
        $('#totales').val(getPrecioInicial());

      });
      
      $(document).on('change','#table .escuchable', function () {                
        var id = $(this).attr("id");
        actualizarsubtotal(id,-8);
      });
      
      $(document).on('keyup autocompletechange','#table .ui-autocomplete-input', function () {                
        var id = $(this).attr("id");
        actualizarsubtotal(id,-8);
      });

      
      $(document).on('click','#table #borrar', function () {  
        $(this).parents(".fields").remove();              
        actualizartotal();
      });

      $(document).on('change','#table_totals #descount', function () {     
        actualizartotal();
      });

      $(document).on('keyup','#table_totals #descount', function () {                
        actualizartotal();
      });

      function getPrecioInicial(){    
        var total=0;
        return total;
      }

      function actualizarsubtotal(id,num){        
            var aux=id.slice(0,num);
            var subtotal_id="#"+aux+"subtotal";
            var precio="#"+aux+"precio";
            var cantidad="#"+aux+"cantidad";
            cantidad=parseInt($(cantidad).val());
            var ayudante=parseInt($(precio).val());
            if(! isNaN(ayudante)) { 
              $(subtotal_id).val(ayudante * cantidad);      
              actualizartotal();
            }
            else{
              $(subtotal_id).val(0);     
              actualizartotal();
            }        
      }
      
      function getsumasubtotales(){
         var sum = 0;
          $(".subtotal").each(function() {
              var id=$(this).attr("id");
              var val = $(this).val();
              if ($("#" + id).parent().closest('tr').css('display') !== "none"){
                if ( val ) {
                  val = parseInt(val);
                  sum += !isNaN(val) ? val : 0;
              }
              }     
          });
          return sum;
      }

      function actualizartotal(){     
        var val=(parseInt($("#descuento").val())/100);
        var desc_value=!isNaN(val) ? val : 0;
        var subtotales=getsumasubtotales();
        var descuento=((getPrecioInicial()+subtotales) *  desc_value);
        $("#total").val(( getPrecioInicial()+subtotales) - descuento);
        var val2=(parseInt($("#descount").val())/100);
        var desc_val=!isNaN(val2) ? val2 : 0;
        var d=((getPrecioInicial()+subtotales) *  desc_val);
        $("#totales").val(( getPrecioInicial()+subtotales) - d);
        $("#iva").val(parseInt((( getPrecioInicial()+subtotales) - d) / 11));
      }

      $('#bt1').click(function() {
        $('#date').val('<%= Time.now.strftime("%d-%m-%Y") %>');      
      });

</script>