<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Cuentas</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-right">
      <%= link_to 'Nueva Cuenta', new_account_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <table class="table">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Direccion</th>
            <th>RUC</th>
            <th>Fecha entrada</th>
            <th>Fecha salida</th>
            <th>Total</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @accounts.each do |account| %>
            <tr>              
              <td><%= account.nombre %></td>
              <td><%= account.direccion %></td>
              <td><%= account.ruc %></td>
              <td><%= account.fecha_entrada %></td>
              <td><%= account.fecha_salida %></td>
              <td><%= account.total %></td>
              <td><%= link_to account, class: 'col-sm-2', title: 'Ver Cuenta', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "glyphicon glyphicon glyphicon-eye-open"></span>
                    <% end %></td>
              <td><%= link_to edit_account_path(account), class: 'col-sm-2', title: 'Editar Cuenta', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "glyphicon glyphicon glyphicon-edit"></span>
                    <% end %></td>
              <td><%= link_to account, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'col-sm-2', title: 'Eliminar Cuenta', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                    <span class= "glyphicon glyphicon glyphicon-trash"></span>
                    <% end %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
