  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><center>Cuentas</center></h3>
      <a href="<%=new_account_path%>" class="btn btn-primary pull-right" role="button"><i class='glyphicon glyphicon-list-alt'> </i> Nueva Cuenta</a> 
      <br>
      <br>
      <div>
        <div class="menu well" style="display: none;">
          <%= form_for_filterrific @filterrific do |f| %>

              <div class="col-xs-4">
                  <%= f.label "Cliente" %>
                  <%= f.text_field(:sorted_by_name,
                                class: 'filterrific-periodically-observed form-control',
                                placeholder:"Nombre y Apellido")%>
              </div>

            <div class="col-xs-4">
                <%= f.label "Numero de Factura" %>
                <%= f.text_field(:sorted_by_number,
                              class: 'filterrific-periodically-observed form-control',
                              placeholder:"Numero de Factura")%>
            </div>
               
             <%= render_filterrific_spinner %>
          <% end %>
        </div>
        <button type="button" class="btn btn-primary pull-right" id="showmenu">
            <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </div>

    <%= render 'row', accounts: @accounts %>



</div>

<script type="text/javascript">
   $(window).load(function() {
        $('#showmenu').click(function() {
                $('.menu').toggle("slide");
        });
    });

</script>
