<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @account.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @account.direccion %>
</p>

<p>
  <strong>RUC:</strong>
  <%= @account.ruc %>
</p>

<p>
  <strong>Habitacion:</strong>
  <%= @account.identificador_hab %>
</p>

<p>
  <strong>Fecha entrada:</strong>
  <%= @account.fecha_entrada %>
</p>

<p>
  <strong>Fecha salida:</strong>
  <%= @account.fecha_salida %>
</p>

<p>
  <strong>Total:</strong>
  <%= @account.total %>
</p>

<p>
  <strong>Numero de Factura:</strong>
  <%= @account.numero %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
<%= link_to 'Facturar', facturar_account_path(@account), remote: true, class: "btn btn-success" %> 

    <%if @account.numero.present? %>                                                 
    <%Invoice.create(nombre: @account.nombre,
                     ruc: @account.ruc,
                     direccion: @account.direccion,
                     numero: @account.numero,
                     celular: @account.telefono,
                     correo: @account.correo,
                     client_id: @account.client_id,
                     fecha: Time.now.strftime("%d-%m-%Y"),                   
                     descuento: @account.descuento,
                     subtotal: @account.subtotal,
                     total: @account.total)%>
    <%= link_to 'Ver Factura', invoices_path, class: "btn btn-info" %>
    <%end%>                    