<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @account.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @account.direccion %>
</p>

<p>
  <strong>RUC:</strong>
  <%= @account.ruc %>
</p>

<p>
  <strong>Habitacion:</strong>
  <%= @account.identificador_hab %>
</p>

<p>
  <strong>Fecha entrada:</strong>
  <%= @account.fecha_entrada %>
</p>

<p>
  <strong>Fecha salida:</strong>
  <%= @account.fecha_salida %>
</p>

<p>
  <strong>Total:</strong>
  <%= @account.total %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>

<a href="<%=invoices_path%>" id="fact" class="btn btn-success"><i class="fa fa-credit-card"></i>Facturar</a>

<script type="text/javascript">
  $('#fact').click(function() {                                                 
    <%Invoice.create(nombre: @account.nombre,
                     ruc: @account.ruc,
                     direccion: @account.direccion,
                     celular: @account.telefono,
                     correo: @account.correo,
                     client_id: @account.client_id,
                     fecha: Time.now.strftime("%d-%m-%Y"),                   
                     descuento: @account.descuento,
                     subtotal: @account.subtotal,
                     total: @account.total)%>                    
  }); 
</script>